In [1]:
# Import necessary libraries
import numpy as np, pandas as pd
import random
import time
import os
import more_itertools as mit

# Adjust options for viewing dataframes in notebook
pd.set_option('display.width', 2000)

In [2]:
# Function for reading a data file
def read_data(name):
    df = pd.read_csv('./../../data/clean_data/' + name + '.csv')
    df['Hour'] = pd.to_datetime(df['Hour'])
    df = df.set_index('Hour')
    df.index.freq = 'h'
    return df

In [3]:
# Function for locating random batches from dataset

## Take dataset, length of test data and number of batches to extract as parameters
## Find a number of digits that represent the indices of the original dataset, where the extracted batches will start from
## Each subset dataset will not intersect with other datasets

def extract_batches(df, test_length, batch_count):
    start = time.time()
    random_int_list = []
    m = 0
    random.seed(1)
    data_end = len(df)
    while m < batch_count:
        random_int = random.randint(0, data_end - test_length)
        q = 0
        for i in random_int_list:
            # Make sure batches do not overlap
            if i + test_length <= random_int or random_int + test_length <= i:
                pass
            else:
                q = 1
                # In case solution does not exist with current combination
                if time.time() - start > 2:
                    print('Restarted')
                    random_int_list = []
                    start = time.time()
                    m = 0

        # Prevent batches with 0 energy
        if df['Energy'][random_int: random_int + test_length].sum() == 0:
            q = 1

        # Record the position of the batch
        if q == 0:
            random_int_list.append(random_int)
            m = m + 1
    return random_int_list

In [4]:
# Range Pricing Method:
# The energy rate assigned to an hour's demand value is dependent on which demand threshold it falls under
# Demand thresholds are calculated by splitting the demand range evenly
# The higher the demand threshold the higher the price assigned

# Function for creating a price profile using the range pricing method

def range_pricing(test, min_price, max_price):

    # Possible prices per kWh are in range [min_price, max_price]
    price_set = [x / 100 for x in range(min_price, max_price + 1)]
    price_set_count = len(price_set)

    # The range of demand is split into equal bins, one for each possible price
    max_demand = max(test)
    min_demand = min(test)
    bin_size = (max_demand - min_demand) / price_set_count

    # Demand thresholds for each price are calculated
    demand_thresholds = []
    j = 1
    while j < price_set_count + 1:
        demand_thresholds.append(min_demand + bin_size * j)
        j = j + 1

    # To tackle float representation imprecision, the highest demand threshold is increased a little
    demand_thresholds[-1] = demand_thresholds[-1] + 1

    # Every demand value is compared with the demand thresholds and assigned a demand-proportional price
    price_profile = []
    i = 0
    while i < len(test):
        j = 0
        while j < price_set_count:
            if test[i] <= demand_thresholds[j]:
                price_profile.append(price_set[j])
                break
            j = j + 1
        i = i + 1

    return price_profile

In [5]:
# Percentile Pricing Method:
# The energy rate assigned to an hour's demand value is dependent on which demand threshold it falls under
# Demand thresholds are calculated by identifying demand values at specific percentile positions
# The higher the demand threshold the higher the price assigned

# Function for creating a price profile using the percentile pricing method

def percentile_pricing(test, min_price, max_price):

    # A list of possible prices in range [min_price, max_price] is created
    price_set = [x / 100 for x in range(min_price, max_price + 1)]
    price_set_count = len(price_set)

    # Percentile thresholds for each price are calculated
    bin_size = 100 / price_set_count
    percentile_thresholds = []
    j = 1
    while j < price_set_count + 1:
        percentile_thresholds.append(bin_size * j)
        j = j + 1

    # Demand thresholds for each price are calculated
    demand_thresholds = []
    for k in percentile_thresholds:
        demand_thresholds.append(np.percentile(test, k))

    # Every demand value is compared with the demand thresholds and assigned a demand-proportional price
    price_profile = []
    i = 0
    while i < len(test):
        j = 0
        while j < price_set_count:
            if test[i] <= demand_thresholds[j]:
                price_profile.append(price_set[j])
                break
            j = j + 1
        i = i + 1

    return price_profile

In [6]:
# Function for running the revenue simulation and collecting the results
def analyse(df, test_length, batch_count):
    # Find appropriate (random) start indices for batches to prevent overlap
    start_index_list = extract_batches(df, test_length, batch_count)
    
    # Create the empty results dataframe to hold the results
    df_results = pd.DataFrame(columns=['Energy (kWh)', 'Flat Energy', 'Time of Use', 'Range', 'Percentile'])

    for start_index in start_index_list:
        # Retrieve the batch test data
        test = df[start_index: start_index + test_length]

        # Calculate total energy demand in batch
        demand_value = np.round(test['Energy'].sum(), 2)

        # Calculate the total revenue for each pricing method: 
        ## Flat Energy Rate (0.23 dollars per kWh)
        flat_energy_value = np.round(test['Energy'].sum() * 0.23, 2)
        
        ## Time of Use Rate (0.25 dollars per kWh between 08:00 - 21:00, 0.2 dollars otherwise )
        peak_time = (test.index.hour <= 21) & (test.index.hour >= 8)
        tou_value = np.round(test[peak_time]['Energy'].sum() * 0.25 + test[~peak_time]['Energy'].sum() * 0.2, 2)

        # Call the new_method1 function to calculate revenue using NRange Pricing
        range_value = np.round(mit.dotproduct(range_pricing(test['Energy'], 21, 25), test['Energy']), 2)

        # Call the percentile_pricing function to calculate revenue using Percentile Pricing
        percentile_value = np.round(mit.dotproduct(percentile_pricing(test['Energy'], 21, 25), test['Energy']), 2)

        # Append the batch results to the results dataframe
        row = [demand_value, flat_energy_value, tou_value, range_value, percentile_value]
        df_results = pd.concat([df_results, pd.DataFrame([row], columns=df_results.columns)], ignore_index=True)

    # Calculate the average of each column
    average_value_list = np.round(df_results.mean(), 2).tolist()
    # Calculate the minimum of each column
    min_value_list = np.round(df_results.min(), 2).tolist()
    # Calculate the maximum of each column
    max_value_list = np.round(df_results.max(), 2).tolist()
    # Calculate the standard deviation of each column
    stddev_value_list = np.round(df_results.std(), 2).tolist()

    # Append the average to each column
    df_results = pd.concat([df_results, pd.DataFrame([average_value_list], columns=df_results.columns)], ignore_index=True)
    # Append the minimum to each column
    df_results = pd.concat([df_results, pd.DataFrame([min_value_list], columns=df_results.columns)], ignore_index=True)
    # Append the maximum to each column
    df_results = pd.concat([df_results, pd.DataFrame([max_value_list], columns=df_results.columns)], ignore_index=True)
    # Append the standard deviation to each column
    df_results = pd.concat([df_results, pd.DataFrame([stddev_value_list], columns=df_results.columns)], ignore_index=True)

    # Reformat the results dataframe
    df_results = df_results.transpose()
    df_results.columns = ['Batch 1', 'Batch 2', 'Batch 3', 'Batch 4', 'Batch 5', 'Batch 6', 'Batch 7', 'Batch 8', 'Batch 9', 'Batch 10',
                            'Average', 'Minimum', 'Maximum', 'Std. Dev.']
    
    # Display results
    display(df_results)

    return df_results

In [7]:
# Conducting extensive batch testing of revenue for different periods, with 10 random batches each
def main():
    # Make the directory for the results
    if os.path.isdir('../../data/revenue_results'):
        pass
    else:
        os.mkdir('../../data/revenue_results')

    print('-- Revenue simulation for different pricing methods --')
    for name in ['WEBSTER', 'CAMBRIDGE', 'MPL', 'RINCONADA LIB', 'TED THOMPSON', 'HAMILTON', 'HIGH', 'BRYANT']:

        df = read_data(name)
        print('\n{}'.format(name))
        file_name = '../../data/revenue_results/' + name + '.xlsx'

        # Write the tables to appropriate xlsx files
        with pd.ExcelWriter(file_name, mode='w', engine='xlsxwriter') as writer:
            
            # Modify execution parameters if needed
            test_length = [672, 336, 168, 72, 48, 24]                                     # Hours in batch
            batch_count = [10, 10, 10, 10, 10, 10]                                        # Batch count
            start_row = [0, 7, 14, 21, 28, 35]                                            # Row position in xlsx file to write results in
            durations = ['28 Days', '14 Days', '7 Days', '3 Days', '2 Days', '1 Day']     # Durations of batches, used for titles

            all_results_list = []

            i = 0
            while i < len(test_length):
                print('{} Revenue Simulation:'.format(durations[i]))

                # Run set of batches and collect results
                df_results = analyse(df, test_length[i], batch_count[i])
                all_results_list.append(df_results)

                # Write results to xlsx file
                df_results.to_excel(writer, sheet_name=name, startrow=start_row[i])
                pd.DataFrame(['{} Revenue'.format(durations[i])]).to_excel(writer, sheet_name=name, startrow=start_row[i], header=None, index=None)
                i = i + 1

            # Create summary dataframes
            df_summary_avg = pd.concat([df['Average'] for df in all_results_list], axis="columns")
            df_summary_min = pd.concat([df['Minimum'] for df in all_results_list], axis="columns")
            df_summary_max = pd.concat([df['Maximum'] for df in all_results_list], axis="columns")
            df_summary_stddev = pd.concat([df['Std. Dev.'] for df in all_results_list], axis="columns")

            for i in [df_summary_avg, df_summary_min, df_summary_max, df_summary_stddev]:
                i.columns = durations

            # Modify summary parameters if needed
            start_row = [42, 49, 56, 63]                                                        # Row position in xlsx file to write results in
            summary_name = [df_summary_avg, df_summary_min, df_summary_max, df_summary_stddev]  # Summary reference list
            print_title = ['Average', 'Minimum', 'Maximum', 'Standard Deviation']               # Title for printing results
            summary_title = ['Avg.', 'Min.', 'Max.', 'Std.Dev.']                                # Dataframe title in xlsx file

            i = 0
            while i < 4:
                print('{} Values Summary - {}:'.format(print_title[i], name))

                # Display summary
                display(summary_name[i])

                # Write summary to xlsx file
                summary_name[i].to_excel(writer, sheet_name=name, startrow=start_row[i])
                pd.DataFrame(['{} Summary'.format(summary_title[i])]).to_excel(writer, sheet_name=name, startrow=start_row[i], header=None, index=None)
                i = i + 1

            # Adjust the first column's width
            worksheet = writer.sheets[name]
            workbook = writer.book
            worksheet.set_column(0, 0, 15)
            # Adjust cell formating
            format1 = workbook.add_format({'bg_color': '#EDEDED', 'num_format': '#,##0.00', 'border': 1})
            worksheet.conditional_format(0, 0, 68, 14, {'type': 'no_blanks', 'format': format1})
main()

-- Revenue simulation for different pricing methods --

WEBSTER
28 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  6461.36  4470.50  5145.90  4512.07  7848.19  4678.38  7806.77  4569.64  1338.02   2650.73  4948.16  1338.02  7848.19    2050.92
Flat Energy   1486.11  1028.21  1183.56  1037.78  1805.08  1076.03  1795.56  1051.02   307.74    609.67  1138.08   307.74  1805.08     471.71
Time of Use   1571.19  1101.40  1264.40  1111.18  1897.79  1151.60  1875.70  1131.63   332.35    647.46  1208.47   332.35  1897.79     490.74
Range         1491.77  1023.26  1192.89  1038.14  1835.31  1075.09  1811.30  1061.75   298.30    614.79  1144.26   298.30  1835.31     480.64
Percentile    1561.22  1092.06  1250.75  1101.00  1885.23  1140.57  1870.22  1116.96   331.85    650.82  1200.07   331.85  1885.23     487.51

14 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  3136.17  1860.31  2711.74  2355.10  3878.36  1997.78  3893.65  2421.25   715.71   2434.13  2540.42   715.71  3893.65     951.72
Flat Energy    721.32   427.87   623.70   541.67   892.02   459.49   895.54   556.89   164.61    559.85   584.30   164.61   895.54     218.90
Time of Use    761.70   458.00   666.82   578.23   937.06   489.01   935.72   600.04   177.32    598.14   620.20   177.32   937.06     227.17
Range          724.66   426.23   630.37   547.98   922.63   452.88   906.45   564.81   160.35    563.08   589.94   160.35   922.63     227.03
Percentile     758.85   454.87   658.27   574.20   929.99   487.34   934.37   590.89   177.42    592.15   615.84   177.42   934.37     226.07

7 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  1515.65   641.67  1267.70  1283.62  1893.06  1052.57  1867.04  1228.70   314.56   1296.79  1236.14   314.56  1893.06     488.89
Flat Energy    348.60   147.58   291.57   295.23   435.40   242.09   429.42   282.60    72.35    298.26   284.31    72.35   435.40     112.44
Time of Use    364.74   158.18   312.27   315.01   457.37   257.49   450.13   302.46    78.31    319.65   301.56    78.31   457.37     117.05
Range          348.98   144.73   294.14   299.73   452.57   238.10   435.78   286.06    71.05    303.14   287.43    71.05   452.57     116.97
Percentile     365.81   157.42   307.90   312.22   454.65   256.07   449.65   299.10    78.03    315.95   299.68    78.03   454.65     116.73

3 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   448.75   262.31   549.91   597.54   818.21   534.65   610.89   597.78   224.90    681.09   532.60   224.90   818.21     180.52
Flat Energy    103.21    60.33   126.48   137.44   188.19   122.97   140.51   137.49    51.73    156.65   122.50    51.73   188.19      41.52
Time of Use    110.28    65.30   133.86   147.10   196.94   130.83   145.88   148.55    56.21    169.45   130.44    56.21   196.94      43.41
Range          102.50    61.05   128.53   140.33   194.73   125.65   143.56   141.70    51.76    161.31   125.11    51.76   194.73      43.48
Percentile     109.67    64.35   132.95   145.30   195.82   129.30   147.43   145.61    55.45    165.40   129.13    55.45   195.82      43.01

2 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   241.85   171.44   384.20   346.03   530.33   355.82   290.06   385.51   130.46    425.36   326.11   130.46   530.33     120.34
Flat Energy     55.62    39.43    88.37    79.59   121.98    81.84    66.71    88.67    30.01     97.83    75.01    30.01   121.98      27.68
Time of Use     60.27    42.84    95.09    85.85   127.17    87.10    70.85    96.03    32.60    105.69    80.35    32.60   127.17      28.97
Range           56.14    40.21    91.08    80.37   125.28    83.70    66.34    91.46    29.78    100.80    76.52    29.78   125.28      28.85
Percentile      59.78    42.16    93.26    84.33   126.83    86.05    70.22    93.98    32.08    103.34    79.20    32.08   126.83      28.66

1 Day Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   182.87    70.57   178.07   117.72   187.51   192.53   111.06   182.72    45.40    212.42   148.09    45.40   212.42      57.56
Flat Energy     42.06    16.23    40.96    27.07    43.13    44.28    25.54    42.03    10.44     48.86    34.06    10.44    48.86      13.24
Time of Use     45.72    17.64    44.38    29.41    45.53    46.81    27.12    45.40    11.33     52.89    36.62    11.33    52.89      14.18
Range           43.28    16.58    42.32    27.69    44.11    45.71    26.14    43.30    10.68     51.00    35.08    10.68    51.00      13.77
Percentile      44.93    17.46    43.46    28.84    45.03    46.61    26.88    44.62    11.19     51.91    36.09    11.19    51.91      13.95

Average Values Summary - WEBSTER:

              28 Days  14 Days   7 Days  3 Days  2 Days   1 Day
Energy (kWh)  4948.16  2540.42  1236.14  532.60  326.11  148.09
Flat Energy   1138.08   584.30   284.31  122.50   75.01   34.06
Time of Use   1208.47   620.20   301.56  130.44   80.35   36.62
Range         1144.26   589.94   287.43  125.11   76.52   35.08
Percentile    1200.07   615.84   299.68  129.13   79.20   36.09

Minimum Values Summary - WEBSTER:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  1338.02   715.71  314.56  224.90  130.46  45.40
Flat Energy    307.74   164.61   72.35   51.73   30.01  10.44
Time of Use    332.35   177.32   78.31   56.21   32.60  11.33
Range          298.30   160.35   71.05   51.76   29.78  10.68
Percentile     331.85   177.42   78.03   55.45   32.08  11.19

Maximum Values Summary - WEBSTER:

              28 Days  14 Days   7 Days  3 Days  2 Days   1 Day
Energy (kWh)  7848.19  3893.65  1893.06  818.21  530.33  212.42
Flat Energy   1805.08   895.54   435.40  188.19  121.98   48.86
Time of Use   1897.79   937.06   457.37  196.94  127.17   52.89
Range         1835.31   922.63   452.57  194.73  125.28   51.00
Percentile    1885.23   934.37   454.65  195.82  126.83   51.91

Standard Deviation Values Summary - WEBSTER:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  2050.92   951.72  488.89  180.52  120.34  57.56
Flat Energy    471.71   218.90  112.44   41.52   27.68  13.24
Time of Use    490.74   227.17  117.05   43.41   28.97  14.18
Range          480.64   227.03  116.97   43.48   28.85  13.77
Percentile     487.51   226.07  116.73   43.01   28.66  13.95

CAMBRIDGE
28 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  6615.77  3641.51  3679.13  3537.12  3681.52  4304.34  3742.70  2843.40  2376.66   2156.64  3657.88  2156.64  6615.77    1235.97
Flat Energy   1521.63   837.55   846.20   813.54   846.75   990.00   860.82   653.98   546.63    496.03   841.31   496.03  1521.63     284.28
Time of Use   1635.10   894.48   907.26   872.36   898.68  1055.65   903.22   694.09   583.29    527.31   897.14   527.31  1635.10     306.77
Range         1528.63   814.76   821.26   802.36   865.43   979.74   877.17   669.26   533.05    475.40   836.71   475.40  1528.63     289.51
Percentile    1617.66   893.64   900.28   869.37   887.77  1055.80   899.88   693.24   584.02    531.49   893.32   531.49  1617.66     301.55

14 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  3516.91  1169.52  1798.04  1689.68  1768.76  1778.56  1756.39  1566.65  1148.86   1305.17  1749.85  1148.86  3516.91     671.56
Flat Energy    808.89   268.99   413.55   388.63   406.81   409.07   403.97   360.33   264.24    300.19   402.47   264.24   808.89     154.46
Time of Use    867.41   286.77   444.97   417.54   432.36   437.23   425.19   380.81   283.36    320.98   429.66   283.36   867.41     166.04
Range          812.06   266.74   405.35   384.78   415.11   400.71   411.31   369.66   258.09    298.32   402.21   258.09   812.06     156.18
Percentile     857.54   288.46   440.42   416.48   427.13   437.26   423.46   380.70   282.60    320.29   427.43   282.60   857.54     163.08

7 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  1802.69   389.94   851.47  1046.47   912.56  1087.98   834.46   767.83   644.85    683.47   902.17   389.94  1802.69     375.35
Flat Energy    414.62    89.69   195.84   240.69   209.89   250.23   191.93   176.60   148.32    157.20   207.50    89.69   414.62      86.33
Time of Use    445.20    96.30   210.78   258.37   223.47   268.20   203.20   187.65   157.82    167.97   221.90    96.30   445.20      92.96
Range          416.39    87.68   192.31   243.02   217.41   248.13   195.57   181.31   144.95    156.75   208.35    87.68   416.39      87.27
Percentile     439.28    96.59   208.96   256.19   220.01   267.02   202.02   186.85   157.86    167.64   220.24    96.59   439.28      91.28

3 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   703.57   131.84   410.19   485.96   377.88   668.27   255.26   393.34   239.73    382.97   404.90   131.84   703.57     179.74
Flat Energy    161.82    30.32    94.34   111.77    86.91   153.70    58.71    90.47    55.14     88.08    93.13    30.32   161.82      41.34
Time of Use    172.58    32.04   101.36   119.75    93.10   165.80    62.91    95.79    58.79     93.90    99.60    32.04   172.58      44.45
Range          164.85    30.10    93.94   112.41    90.72   155.56    59.71    93.56    53.91     88.93    94.37    30.10   164.85      42.23
Percentile     171.12    32.51   100.03   118.57    91.27   163.22    62.72    95.18    58.76     93.59    98.70    32.51   171.12      43.68

2 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   385.65    93.38   308.38   321.46   225.49   434.60   103.35   281.87   140.38    236.52   253.11    93.38   434.60     115.83
Flat Energy     88.70    21.48    70.93    73.94    51.86    99.96    23.77    64.83    32.29     54.40    58.22    21.48    99.96      26.64
Time of Use     94.50    22.63    75.91    79.18    55.86   108.06    25.60    68.41    35.02     57.80    62.30    22.63   108.06      28.61
Range           89.24    21.67    71.54    74.52    54.42   103.02    24.18    67.23    33.07     55.34    59.42    21.67   103.02      27.14
Percentile      94.01    22.88    75.20    78.49    54.66   106.11    25.53    68.05    34.50     57.82    61.72    22.88   106.11      28.17

1 Day Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   111.19    31.92   161.59   166.60    85.10   237.75    60.66   120.48    79.61    121.01   117.59    31.92   237.75      59.55
Flat Energy     25.57     7.34    37.17    38.32    19.57    54.68    13.95    27.71    18.31     27.83    27.04     7.34    54.68      13.70
Time of Use     27.62     7.64    39.76    41.12    21.28    59.34    14.93    29.33    19.83     29.51    29.04     7.64    59.34      14.84
Range           25.46     7.43    37.55    39.92    20.61    56.93    14.58    28.34    19.39     28.65    27.89     7.43    56.93      14.18
Percentile      27.31     7.85    39.33    40.35    20.80    58.06    14.88    29.19    19.48     29.46    28.67     7.85    58.06      14.48

Average Values Summary - CAMBRIDGE:

              28 Days  14 Days  7 Days  3 Days  2 Days   1 Day
Energy (kWh)  3657.88  1749.85  902.17  404.90  253.11  117.59
Flat Energy    841.31   402.47  207.50   93.13   58.22   27.04
Time of Use    897.14   429.66  221.90   99.60   62.30   29.04
Range          836.71   402.21  208.35   94.37   59.42   27.89
Percentile     893.32   427.43  220.24   98.70   61.72   28.67

Minimum Values Summary - CAMBRIDGE:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  2156.64  1148.86  389.94  131.84   93.38  31.92
Flat Energy    496.03   264.24   89.69   30.32   21.48   7.34
Time of Use    527.31   283.36   96.30   32.04   22.63   7.64
Range          475.40   258.09   87.68   30.10   21.67   7.43
Percentile     531.49   282.60   96.59   32.51   22.88   7.85

Maximum Values Summary - CAMBRIDGE:

              28 Days  14 Days   7 Days  3 Days  2 Days   1 Day
Energy (kWh)  6615.77  3516.91  1802.69  703.57  434.60  237.75
Flat Energy   1521.63   808.89   414.62  161.82   99.96   54.68
Time of Use   1635.10   867.41   445.20  172.58  108.06   59.34
Range         1528.63   812.06   416.39  164.85  103.02   56.93
Percentile    1617.66   857.54   439.28  171.12  106.11   58.06

Standard Deviation Values Summary - CAMBRIDGE:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  1235.97   671.56  375.35  179.74  115.83  59.55
Flat Energy    284.28   154.46   86.33   41.34   26.64  13.70
Time of Use    306.77   166.04   92.96   44.45   28.61  14.84
Range          289.51   156.18   87.27   42.23   27.14  14.18
Percentile     301.55   163.08   91.28   43.68   28.17  14.48

MPL
28 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  2425.45  2983.04  2046.42  3076.41  2412.81  5626.80   287.55  2129.17  5395.61   2951.40  2933.47   287.55  5626.80    1574.21
Flat Energy    557.85   686.10   470.68   707.57   554.95  1294.16    66.14   489.71  1240.99    678.82   674.70    66.14  1294.16     362.07
Time of Use    600.22   716.09   499.61   745.45   588.91  1355.75    71.55   519.12  1287.09    720.43   710.42    71.55  1355.75     375.12
Range          549.49   678.42   466.75   701.50   550.63  1278.41    64.70   491.05  1218.56    676.11   667.56    64.70  1278.41     356.00
Percentile     595.18   724.59   502.66   747.49   590.32  1351.06    71.89   522.03  1289.85    718.16   711.32    71.89  1351.06     374.44

14 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  1157.66  1625.28   742.16  1500.62  1172.59  2697.11    93.19   881.36  2765.60   1465.45  1410.10    93.19  2765.60     825.39
Flat Energy    266.26   373.81   170.70   345.14   269.70   620.33    21.43   202.71   636.09    337.05   324.32    21.43   636.09     189.84
Time of Use    287.07   391.73   184.27   364.65   286.50   648.35    23.23   213.31   658.98    357.43   341.55    23.23   658.98     196.27
Range          266.10   372.91   168.99   342.41   266.96   611.62    21.32   203.89   624.92    338.46   321.76    21.32   624.92     186.44
Percentile     284.00   393.65   183.82   365.16   286.89   647.78    23.30   216.46   660.67    356.81   341.85    23.30   660.67     196.42

7 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   630.17   750.15   375.55   673.06   576.20  1228.18     0.56   433.25  1553.57    761.02   698.17     0.56  1553.57     434.66
Flat Energy    144.94   172.53    86.38   154.80   132.53   282.48     0.13    99.65   357.32    175.04   160.58     0.13   357.32      99.97
Time of Use    156.68   180.34    93.45   166.15   141.46   294.76     0.14   105.57   372.33    185.63   169.65     0.14   372.33     103.67
Range          145.16   171.72    85.95   154.61   131.07   278.86     0.14   100.24   354.38    177.40   159.95     0.14   354.38      98.91
Percentile     154.27   182.03    93.08   164.64   141.10   295.72     0.14   106.49   371.41    185.73   169.46     0.14   371.41     103.64

3 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   308.82   317.83   190.43   249.08   256.58   498.56   188.56   692.19   294.52    178.55   317.51   178.55   692.19     161.33
Flat Energy     71.03    73.10    43.80    57.29    59.01   114.67    43.37   159.20    67.74     41.07    73.03    41.07   159.20      37.10
Time of Use     76.61    75.01    47.61    61.00    63.51   119.42    45.96   166.51    72.92     43.89    77.24    43.89   166.51      38.29
Range           72.03    74.48    45.07    58.74    60.17   116.44    43.80   160.11    69.71     40.87    74.14    40.87   160.11      37.28
Percentile      75.49    76.79    47.17    61.09    63.12   120.03    46.34   165.44    72.52     43.97    77.20    43.97   165.44      38.10

2 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   247.85   239.80   147.47   178.75   170.59   334.83   120.72   434.23   163.09    110.08   214.74   110.08   434.23     102.50
Flat Energy     57.01    55.15    33.92    41.11    39.24    77.01    27.77    99.87    37.51     25.32    49.39    25.32    99.87      23.57
Time of Use     61.52    55.87    36.87    44.01    42.01    79.84    29.87   104.34    40.43     26.91    52.17    26.91   104.34      24.19
Range           58.58    56.44    35.61    42.47    40.09    77.96    28.21   102.82    38.46     25.97    50.66    25.97   102.82      24.11
Percentile      60.28    57.46    36.37    43.70    41.95    80.42    29.76   103.52    40.16     27.21    52.08    27.21   103.52      24.09

1 Day Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   134.34   142.16    87.39   102.46    57.04   189.04    56.72   192.10    95.43     44.43   110.11    44.43   192.10      53.06
Flat Energy     30.90    32.70    20.10    23.57    13.12    43.48    13.05    44.18    21.95     10.22    25.33    10.22    44.18      12.20
Time of Use     33.28    33.75    21.85    25.35    14.06    46.33    13.86    46.40    23.69     10.50    26.91    10.50    46.40      12.86
Range           32.20    33.80    21.10    24.77    13.32    45.06    13.25    45.67    22.75     10.83    26.28    10.83    45.67      12.64
Percentile      32.81    33.88    21.45    24.86    14.09    45.44    14.02    45.88    23.48     10.77    26.67    10.77    45.88      12.57

Average Values Summary - MPL:

              28 Days  14 Days  7 Days  3 Days  2 Days   1 Day
Energy (kWh)  2933.47  1410.10  698.17  317.51  214.74  110.11
Flat Energy    674.70   324.32  160.58   73.03   49.39   25.33
Time of Use    710.42   341.55  169.65   77.24   52.17   26.91
Range          667.56   321.76  159.95   74.14   50.66   26.28
Percentile     711.32   341.85  169.46   77.20   52.08   26.67

Minimum Values Summary - MPL:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)   287.55    93.19    0.56  178.55  110.08  44.43
Flat Energy     66.14    21.43    0.13   41.07   25.32  10.22
Time of Use     71.55    23.23    0.14   43.89   26.91  10.50
Range           64.70    21.32    0.14   40.87   25.97  10.83
Percentile      71.89    23.30    0.14   43.97   27.21  10.77

Maximum Values Summary - MPL:

              28 Days  14 Days   7 Days  3 Days  2 Days   1 Day
Energy (kWh)  5626.80  2765.60  1553.57  692.19  434.23  192.10
Flat Energy   1294.16   636.09   357.32  159.20   99.87   44.18
Time of Use   1355.75   658.98   372.33  166.51  104.34   46.40
Range         1278.41   624.92   354.38  160.11  102.82   45.67
Percentile    1351.06   660.67   371.41  165.44  103.52   45.88

Standard Deviation Values Summary - MPL:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  1574.21   825.39  434.66  161.33  102.50  53.06
Flat Energy    362.07   189.84   99.97   37.10   23.57  12.20
Time of Use    375.12   196.27  103.67   38.29   24.19  12.86
Range          356.00   186.44   98.91   37.28   24.11  12.64
Percentile     374.44   196.42  103.64   38.10   24.09  12.57

RINCONADA LIB
28 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  1660.38  1916.17  1648.61  1255.32  1270.38  4196.14  1488.01  4439.25  1828.53   2432.62  2213.54  1255.32  4439.25    1160.86
Flat Energy    381.89   440.72   379.18   288.72   292.19   965.11   342.24  1021.03   420.56    559.50   509.11   288.72  1021.03     267.00
Time of Use    405.02   466.24   390.96   301.73   299.87  1015.63   358.61  1055.79   442.04    589.04   532.49   299.87  1055.79     278.27
Range          378.03   436.51   368.13   278.88   284.87   980.43   334.02  1034.83   415.37    559.71   507.08   278.88  1034.83     276.10
Percentile     410.06   469.83   405.31   310.17   314.68  1012.07   367.14  1065.46   450.00    593.78   539.85   310.17  1065.46     275.55

14 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   716.01  1109.66   741.25   660.63   640.59  1938.82   679.68  2110.40  1093.34    629.38  1031.98   629.38  2110.40     553.45
Flat Energy    164.68   255.22   170.49   151.94   147.34   445.93   156.33   485.39   251.47    144.76   237.36   144.76   485.39     127.29
Time of Use    176.09   269.92   175.91   158.09   149.86   471.74   163.64   504.88   262.35    156.45   248.89   149.86   504.88     133.46
Range          162.34   256.55   172.11   147.59   146.10   452.26   156.41   489.02   249.09    141.96   237.34   141.96   489.02     129.93
Percentile     177.40   271.18   182.70   163.20   158.64   468.95   167.79   506.28   267.86    155.96   252.00   155.96   506.28     131.50

7 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   311.82   560.43   346.00   323.35   359.18   877.29   471.13  1025.37   529.76    288.25   509.26   288.25  1025.37     253.39
Flat Energy     71.72   128.90    79.58    74.37    82.61   201.78   108.36   235.84   121.85     66.30   117.13    66.30   235.84      58.28
Time of Use     77.96   136.99    83.59    76.46    84.03   214.11   112.42   244.84   126.36     71.74   122.85    71.74   244.84      60.88
Range           73.26   130.84    80.80    73.65    82.91   203.89   108.68   236.36   122.63     65.37   117.84    65.37   236.36      58.70
Percentile      77.36   137.14    85.62    79.82    88.93   212.94   114.80   245.73   129.31     71.58   124.32    71.58   245.73      60.18

3 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   161.98   283.89   138.89   135.03    38.12   385.22   149.07   425.87   202.95    119.70   204.07    38.12   425.87     123.31
Flat Energy     37.26    65.29    31.95    31.06     8.77    88.60    34.29    97.95    46.68     27.53    46.94     8.77    97.95      28.36
Time of Use     40.50    69.83    33.58    30.32     9.13    94.56    36.79   102.40    47.43     29.92    49.45     9.13   102.40      30.04
Range           38.51    67.23    32.39    32.66     8.89    90.19    35.01    99.32    46.65     27.81    47.87     8.89    99.32      28.79
Percentile      40.12    69.45    34.43    33.23     9.53    93.67    36.75   102.36    49.35     29.68    49.86     9.53   102.36      29.58

2 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   125.08   194.76   123.78   106.33    27.31   296.41   100.73   317.20   132.95     85.04   150.96    27.31   317.20      92.25
Flat Energy     28.77    44.79    28.47    24.46     6.28    68.17    23.17    72.96    30.58     19.56    34.72     6.28    72.96      21.22
Time of Use     31.27    48.61    29.80    23.22     6.43    72.36    24.70    75.90    31.49     21.26    36.50     6.43    75.90      22.45
Range           30.01    46.42    29.09    25.67     6.38    70.05    23.61    74.30    30.60     20.04    35.62     6.38    74.30      21.70
Percentile      30.93    47.69    30.45    25.96     6.83    71.85    24.80    75.76    32.41     21.11    36.78     6.83    75.76      22.02

1 Day Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)    76.06    92.89    98.58    22.01    11.55   160.60    34.54   156.38    67.47     61.45    78.15    11.55   160.60      51.03
Flat Energy     17.49    21.36    22.67     5.06     2.66    36.94     7.95    35.97    15.52     14.13    17.98     2.66    36.94      11.74
Time of Use     19.01    23.14    23.50     5.20     2.49    39.05     8.64    36.86    15.86     15.36    18.91     2.49    39.05      12.26
Range           18.33    22.21    23.30     5.43     2.80    38.26     8.02    36.42    15.58     14.83    18.52     2.80    38.26      12.01
Percentile      18.61    22.81    23.93     5.45     2.89    38.93     8.55    37.17    16.43     15.24    19.00     2.89    38.93      12.20

Average Values Summary - RINCONADA LIB:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  2213.54  1031.98  509.26  204.07  150.96  78.15
Flat Energy    509.11   237.36  117.13   46.94   34.72  17.98
Time of Use    532.49   248.89  122.85   49.45   36.50  18.91
Range          507.08   237.34  117.84   47.87   35.62  18.52
Percentile     539.85   252.00  124.32   49.86   36.78  19.00

Minimum Values Summary - RINCONADA LIB:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  1255.32   629.38  288.25   38.12   27.31  11.55
Flat Energy    288.72   144.76   66.30    8.77    6.28   2.66
Time of Use    299.87   149.86   71.74    9.13    6.43   2.49
Range          278.88   141.96   65.37    8.89    6.38   2.80
Percentile     310.17   155.96   71.58    9.53    6.83   2.89

Maximum Values Summary - RINCONADA LIB:

              28 Days  14 Days   7 Days  3 Days  2 Days   1 Day
Energy (kWh)  4439.25  2110.40  1025.37  425.87  317.20  160.60
Flat Energy   1021.03   485.39   235.84   97.95   72.96   36.94
Time of Use   1055.79   504.88   244.84  102.40   75.90   39.05
Range         1034.83   489.02   236.36   99.32   74.30   38.26
Percentile    1065.46   506.28   245.73  102.36   75.76   38.93

Standard Deviation Values Summary - RINCONADA LIB:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  1160.86   553.45  253.39  123.31   92.25  51.03
Flat Energy    267.00   127.29   58.28   28.36   21.22  11.74
Time of Use    278.27   133.46   60.88   30.04   22.45  12.26
Range          276.10   129.93   58.70   28.79   21.70  12.01
Percentile     275.55   131.50   60.18   29.58   22.02  12.20

TED THOMPSON
28 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  5120.73  2714.54  2959.92  3152.12  2267.46  3469.64  2256.47  1872.83  1320.46   1184.28  2631.84  1184.28  5120.73    1152.13
Flat Energy   1177.77   624.35   680.78   724.99   521.52   798.02   518.99   430.75   303.71    272.38   605.33   272.38  1177.77     264.99
Time of Use   1261.84   668.23   721.54   775.57   548.32   852.65   539.25   454.26   322.16    288.99   643.28   288.99  1261.84     285.76
Range         1176.58   605.37   673.72   724.51   531.11   786.73   528.92   433.67   293.96    261.94   601.65   261.94  1176.58     265.34
Percentile    1253.42   670.23   728.48   776.33   548.11   854.22   544.20   457.51   327.19    293.18   645.29   293.18  1253.42     282.50

14 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  2707.72  1082.71  1117.07  1596.76  1125.16  1649.80  1133.61   943.95   644.37   1114.06  1311.52   644.37  2707.72     569.69
Flat Energy    622.77   249.02   256.93   367.25   258.79   379.45   260.73   217.11   148.20    256.23   301.65   148.20   622.77     131.03
Time of Use    668.48   264.46   271.29   392.30   271.33   406.88   271.02   227.85   156.51    268.40   319.85   156.51   668.48     142.33
Range          626.14   239.16   251.57   367.04   264.23   374.42   265.83   218.51   143.48    253.37   300.37   143.48   626.14     132.58
Percentile     661.95   267.70   274.24   393.07   271.65   406.61   273.35   230.41   159.71    272.57   321.13   159.71   661.95     139.47

7 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  1384.58   387.62   577.47   774.89   568.25  1100.27   535.16   470.34   303.37    544.20   664.62   303.37  1384.58     335.56
Flat Energy    318.45    89.15   132.82   178.23   130.70   253.06   123.09   108.18    69.78    125.17   152.86    69.78   318.45      77.18
Time of Use    342.76    92.59   140.86   190.50   136.09   270.27   128.40   114.54    72.93    130.27   161.92    72.93   342.76      83.98
Range          320.20    87.18   130.82   180.80   133.63   251.19   126.16   112.38    67.47    125.37   153.52    67.47   320.20      77.47
Percentile     338.00    96.08   141.90   190.88   137.22   269.28   129.09   114.87    75.21    132.66   162.52    75.21   338.00      81.91

3 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   486.98   178.12   216.94   473.50   231.50   497.12   193.60   232.65    56.84    330.71   289.80    56.84   497.12     151.02
Flat Energy    112.01    40.97    49.90   108.90    53.25   114.34    44.53    53.51    13.07     76.06    66.65    13.07   114.34      34.73
Time of Use    120.44    40.68    51.29   115.18    55.80   120.67    46.72    57.20    13.86     79.58    70.14    13.86   120.67      37.29
Range          114.56    41.24    48.98   110.87    55.69   113.83    46.01    55.72    13.36     76.84    67.71    13.36   114.56      35.01
Percentile     119.27    43.47    52.69   115.34    56.01   121.11    46.98    56.55    14.18     79.99    70.56    14.18   121.11      36.85

2 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   233.14   147.10   173.06   395.76   131.37   376.41   100.63   154.11    33.07    214.64   195.93    33.07   395.76     114.83
Flat Energy     53.62    33.83    39.80    91.03    30.21    86.57    23.14    35.44     7.61     49.37    45.06     7.61    91.03      26.41
Time of Use     57.74    33.57    40.32    95.74    32.21    91.07    24.73    37.65     7.91     51.29    47.22     7.91    95.74      27.90
Range           54.07    34.43    39.21    92.97    31.54    85.76    23.78    36.87     7.93     49.65    45.62     7.93    92.97      26.41
Percentile      57.08    35.92    41.97    95.18    31.98    91.13    24.63    37.44     8.26     51.83    47.54     8.26    95.18      27.60

1 Day Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)    81.33    34.36    47.80   177.41    42.26   209.44    47.51    85.55    13.96    103.12    84.27    13.96   209.44      63.76
Flat Energy     18.71     7.90    10.99    40.80     9.72    48.17    10.93    19.68     3.21     23.72    19.38     3.21    48.17      14.66
Time of Use     20.33     8.56    11.47    44.02    10.56    52.07    11.88    21.23     3.14     24.33    20.76     3.14    52.07      15.86
Range           18.72     8.38    11.22    41.92    10.28    49.07    11.11    20.50     3.26     23.93    19.84     3.26    49.07      14.94
Percentile      20.07     8.57    11.74    43.20    10.45    51.16    11.63    20.70     3.48     24.74    20.57     3.48    51.16      15.50

Average Values Summary - TED THOMPSON:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  2631.84  1311.52  664.62  289.80  195.93  84.27
Flat Energy    605.33   301.65  152.86   66.65   45.06  19.38
Time of Use    643.28   319.85  161.92   70.14   47.22  20.76
Range          601.65   300.37  153.52   67.71   45.62  19.84
Percentile     645.29   321.13  162.52   70.56   47.54  20.57

Minimum Values Summary - TED THOMPSON:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  1184.28   644.37  303.37   56.84   33.07  13.96
Flat Energy    272.38   148.20   69.78   13.07    7.61   3.21
Time of Use    288.99   156.51   72.93   13.86    7.91   3.14
Range          261.94   143.48   67.47   13.36    7.93   3.26
Percentile     293.18   159.71   75.21   14.18    8.26   3.48

Maximum Values Summary - TED THOMPSON:

              28 Days  14 Days   7 Days  3 Days  2 Days   1 Day
Energy (kWh)  5120.73  2707.72  1384.58  497.12  395.76  209.44
Flat Energy   1177.77   622.77   318.45  114.34   91.03   48.17
Time of Use   1261.84   668.48   342.76  120.67   95.74   52.07
Range         1176.58   626.14   320.20  114.56   92.97   49.07
Percentile    1253.42   661.95   338.00  121.11   95.18   51.16

Standard Deviation Values Summary - TED THOMPSON:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  1152.13   569.69  335.56  151.02  114.83  63.76
Flat Energy    264.99   131.03   77.18   34.73   26.41  14.66
Time of Use    285.76   142.33   83.98   37.29   27.90  15.86
Range          265.34   132.58   77.47   35.01   26.41  14.94
Percentile     282.50   139.47   81.91   36.85   27.60  15.50

HAMILTON
28 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  2052.97  3489.70  1494.24  2485.69  2200.17  3146.56  3005.30  3146.95  3511.57   2692.17  2722.53  1494.24  3511.57     661.47
Flat Energy    472.18   802.63   343.67   571.71   506.04   723.71   691.22   723.80   807.66    619.20   626.18   343.67   807.66     152.14
Time of Use    496.28   849.83   362.59   593.10   531.00   759.42   728.96   766.31   853.68    640.24   658.14   362.59   853.68     162.01
Range          473.16   816.94   343.13   572.90   506.93   731.21   695.88   733.93   821.51    628.86   632.44   343.13   821.51     157.14
Percentile     497.70   845.97   364.30   598.35   531.94   764.13   728.77   762.71   848.11    646.21   658.82   364.30   848.11     159.95

14 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  1066.51  1880.77   757.69  1258.22  1111.78  1264.33  1556.81  1623.87  1861.31   1429.17  1381.05   757.69  1880.77     359.21
Flat Energy    245.30   432.58   174.27   289.39   255.71   290.80   358.07   373.49   428.10    328.71   317.64   174.27   432.58      82.62
Time of Use    257.02   455.84   183.65   300.24   269.72   307.28   379.68   396.44   450.30    336.25   333.64   183.65   455.84      87.48
Range          246.20   442.42   174.27   290.90   257.15   292.76   362.99   381.08   437.05    334.19   321.90   174.27   442.42      86.06
Percentile     258.10   454.79   184.58   302.71   269.02   309.33   377.90   393.92   447.80    341.99   334.01   184.58   454.79      86.29

7 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   576.43   878.85   384.54   541.40   545.16   562.10   781.68   881.31   901.25    717.39   677.01   384.54   901.25     179.50
Flat Energy    132.58   202.14    88.44   124.52   125.39   129.28   179.79   202.70   207.29    165.00   155.71    88.44   207.29      41.29
Time of Use    138.71   212.52    94.11   130.43   131.51   137.77   191.98   215.03   218.59    169.28   163.99    94.11   218.59      43.64
Range          133.16   206.25    89.24   124.74   126.02   130.90   182.98   207.65   212.90    166.89   158.07    89.24   212.90      43.10
Percentile     139.10   213.01    93.73   131.15   132.09   138.02   190.12   213.28   216.94    170.65   163.81    93.73   216.94      43.06

3 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   223.09   363.80   129.14   188.51   207.68   311.20   360.32   394.97   372.78    310.14   286.16   129.14   394.97      92.14
Flat Energy     51.31    83.67    29.70    43.36    47.77    71.58    82.87    90.84    85.74     71.33    65.82    29.70    90.84      21.19
Time of Use     55.15    87.47    31.78    45.49    50.84    76.98    89.07    95.89    90.52     74.60    69.78    31.78    95.89      22.31
Range           52.89    85.38    30.92    43.53    48.86    72.97    84.91    93.56    88.80     72.45    67.43    30.92    93.56      21.82
Percentile      54.20    88.43    31.82    45.93    50.95    75.89    87.67    95.61    90.23     74.29    69.50    31.82    95.61      22.15

2 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   153.27   215.25    63.97   149.43    94.09   168.99   255.70   266.37   217.09    200.92   178.51    63.97   266.37      65.69
Flat Energy     35.25    49.51    14.71    34.37    21.64    38.87    58.81    61.27    49.93     46.21    41.06    14.71    61.27      15.11
Time of Use     37.99    51.64    15.62    35.72    23.33    41.92    62.92    64.80    52.98     48.77    43.57    15.62    64.80      15.96
Range           36.58    50.19    15.21    34.70    21.91    39.39    60.81    63.36    51.46     47.24    42.08    15.21    63.36      15.65
Percentile      37.23    52.52    15.85    36.22    23.28    41.44    61.80    64.47    52.82     48.30    43.39    15.85    64.47      15.76

1 Day Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)    79.91   124.64     9.96    99.79    67.90    36.15   124.05   117.24    69.91     91.26    82.08     9.96   124.64      37.82
Flat Energy     18.38    28.67     2.29    22.95    15.62     8.31    28.53    26.96    16.08     20.99    18.88     2.29    28.67       8.70
Time of Use     19.65    30.36     2.49    23.31    16.98     9.04    30.32    28.29    17.18     21.94    19.96     2.49    30.36       9.07
Range           19.41    29.15     2.38    23.32    15.86     8.94    29.62    28.09    16.68     22.19    19.56     2.38    29.62       8.93
Percentile      19.35    30.27     2.49    23.78    16.63     8.95    30.00    28.40    17.12     21.90    19.89     2.49    30.27       9.08

Average Values Summary - HAMILTON:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  2722.53  1381.05  677.01  286.16  178.51  82.08
Flat Energy    626.18   317.64  155.71   65.82   41.06  18.88
Time of Use    658.14   333.64  163.99   69.78   43.57  19.96
Range          632.44   321.90  158.07   67.43   42.08  19.56
Percentile     658.82   334.01  163.81   69.50   43.39  19.89

Minimum Values Summary - HAMILTON:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  1494.24   757.69  384.54  129.14   63.97   9.96
Flat Energy    343.67   174.27   88.44   29.70   14.71   2.29
Time of Use    362.59   183.65   94.11   31.78   15.62   2.49
Range          343.13   174.27   89.24   30.92   15.21   2.38
Percentile     364.30   184.58   93.73   31.82   15.85   2.49

Maximum Values Summary - HAMILTON:

              28 Days  14 Days  7 Days  3 Days  2 Days   1 Day
Energy (kWh)  3511.57  1880.77  901.25  394.97  266.37  124.64
Flat Energy    807.66   432.58  207.29   90.84   61.27   28.67
Time of Use    853.68   455.84  218.59   95.89   64.80   30.36
Range          821.51   442.42  212.90   93.56   63.36   29.62
Percentile     848.11   454.79  216.94   95.61   64.47   30.27

Standard Deviation Values Summary - HAMILTON:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)   661.47   359.21  179.50   92.14   65.69  37.82
Flat Energy    152.14    82.62   41.29   21.19   15.11   8.70
Time of Use    162.01    87.48   43.64   22.31   15.96   9.07
Range          157.14    86.06   43.10   21.82   15.65   8.93
Percentile     159.95    86.29   43.06   22.15   15.76   9.08

HIGH
28 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  1201.35  6816.75   658.09  1103.31  1194.35  4632.13  4391.08  4192.58  7712.10   1438.49  3334.02   658.09  7712.10    2575.37
Flat Energy    276.31  1567.85   151.36   253.76   274.70  1065.39  1009.95   964.29  1773.78    330.85   766.82   151.36  1773.78     592.33
Time of Use    292.56  1667.54   162.50   267.79   285.26  1150.02  1088.45  1035.78  1889.60    342.08   818.16   162.50  1889.60     634.18
Range          278.28  1569.87   151.69   252.90   277.37  1052.58  1004.47   952.81  1785.43    341.24   766.66   151.69  1785.43     592.27
Percentile     293.01  1659.96   162.44   270.15   292.31  1137.32  1074.02  1025.05  1864.52    350.07   812.88   162.44  1864.52     624.95

14 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   567.30  3333.59   366.23   562.84   569.49  1788.33  2138.63  2134.28  3941.74    713.82  1611.62   366.23  3941.74    1274.12
Flat Energy    130.48   766.73    84.23   129.45   130.98   411.32   491.88   490.89   906.60    164.18   370.67    84.23   906.60     293.05
Time of Use    138.77   814.39    90.46   136.73   135.15   444.57   530.07   528.48   963.31    168.56   395.05    90.46   963.31     312.92
Range          131.40   765.73    84.56   129.50   133.59   401.69   489.56   486.77   911.77    168.95   370.35    84.56   911.77     292.80
Percentile     138.50   811.45    90.10   137.88   139.45   440.09   522.92   522.23   951.34    173.41   392.74    90.10   951.34     308.54

7 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   298.09  1642.17   187.46   278.95   304.62   654.72   979.97  1139.76  2061.38    328.90   787.60   187.46  2061.38     652.66
Flat Energy     68.56   377.70    43.12    64.16    70.06   150.59   225.39   262.14   474.12     75.65   181.15    43.12   474.12     150.11
Time of Use     72.87   401.41    46.09    67.99    71.68   162.66   243.35   281.86   504.55     78.34   193.08    46.09   504.55     160.33
Range           69.32   379.38    43.16    66.16    71.72   148.80   225.79   258.97   478.43     77.11   181.88    43.16   478.43     150.68
Percentile      72.79   401.22    46.09    68.40    74.45   161.12   240.15   278.05   497.14     79.89   191.93    46.09   497.14     158.02

3 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   126.87   585.58    91.25    99.63   106.79   242.76   433.72   484.91   966.38    118.42   325.63    91.25   966.38     290.29
Flat Energy     29.18   134.68    20.99    22.92    24.56    55.84    99.76   111.53   222.27     27.24    74.90    20.99   222.27      66.77
Time of Use     31.33   140.47    22.29    24.74    26.13    59.97   107.44   120.05   234.18     28.48    79.51    22.29   234.18      70.31
Range           30.03   134.97    21.22    23.70    25.17    55.83   100.46   114.02   229.45     27.90    76.28    21.22   229.45      68.49
Percentile      31.15   143.37    22.37    24.60    26.33    59.52   106.40   118.41   231.38     28.96    79.25    22.37   231.38      69.75

2 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)    93.45   314.49    68.72    61.74    50.38   151.45   307.13   329.14   576.50     83.73   203.67    50.38   576.50     172.83
Flat Energy     21.49    72.33    15.81    14.20    11.59    34.83    70.64    75.70   132.59     19.26    46.84    11.59   132.59      39.75
Time of Use     22.98    74.89    16.82    15.26    12.32    37.35    76.78    81.67   141.57     19.92    49.96    12.32   141.57      42.49
Range           22.09    71.83    15.99    14.58    11.56    34.87    72.08    77.85   137.07     19.87    47.78    11.56   137.07      40.93
Percentile      22.85    77.02    16.78    15.23    12.46    37.21    75.53    80.50   139.16     20.49    49.72    12.46   139.16      41.84

1 Day Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)    53.48    98.38    27.85    33.97    35.55    43.42   171.98   175.47   221.35     60.70    92.22    27.85   221.35      71.20
Flat Energy     12.30    22.63     6.40     7.81     8.18     9.99    39.56    40.36    50.91     13.96    21.21     6.40    50.91      16.38
Time of Use     13.07    23.93     6.74     8.34     8.62    10.56    43.00    43.55    55.03     14.16    22.70     6.74    55.03      17.84
Range           12.68    22.82     6.47     8.01     8.22    10.34    40.89    42.16    52.14     14.55    21.83     6.47    52.14      16.92
Percentile      13.01    24.01     6.86     8.35     8.72    10.76    42.35    43.06    53.67     14.66    22.54     6.86    53.67      17.37

Average Values Summary - HIGH:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  3334.02  1611.62  787.60  325.63  203.67  92.22
Flat Energy    766.82   370.67  181.15   74.90   46.84  21.21
Time of Use    818.16   395.05  193.08   79.51   49.96  22.70
Range          766.66   370.35  181.88   76.28   47.78  21.83
Percentile     812.88   392.74  191.93   79.25   49.72  22.54

Minimum Values Summary - HIGH:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)   658.09   366.23  187.46   91.25   50.38  27.85
Flat Energy    151.36    84.23   43.12   20.99   11.59   6.40
Time of Use    162.50    90.46   46.09   22.29   12.32   6.74
Range          151.69    84.56   43.16   21.22   11.56   6.47
Percentile     162.44    90.10   46.09   22.37   12.46   6.86

Maximum Values Summary - HIGH:

              28 Days  14 Days   7 Days  3 Days  2 Days   1 Day
Energy (kWh)  7712.10  3941.74  2061.38  966.38  576.50  221.35
Flat Energy   1773.78   906.60   474.12  222.27  132.59   50.91
Time of Use   1889.60   963.31   504.55  234.18  141.57   55.03
Range         1785.43   911.77   478.43  229.45  137.07   52.14
Percentile    1864.52   951.34   497.14  231.38  139.16   53.67

Standard Deviation Values Summary - HIGH:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  2575.37  1274.12  652.66  290.29  172.83  71.20
Flat Energy    592.33   293.05  150.11   66.77   39.75  16.38
Time of Use    634.18   312.92  160.33   70.31   42.49  17.84
Range          592.27   292.80  150.68   68.49   40.93  16.92
Percentile     624.95   308.54  158.02   69.75   41.84  17.37

BRYANT
28 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  2455.99  6014.59  1372.00  2958.16  2384.66  5372.99  5321.32  5249.73  3338.52   3467.38  3793.53  1372.00  6014.59    1582.24
Flat Energy    564.88  1383.36   315.56   680.38   548.47  1235.79  1223.90  1207.44   767.86    797.50   872.51   315.56  1383.36     363.92
Time of Use    590.54  1488.90   337.70   705.14   577.35  1328.49  1311.22  1295.27   813.72    825.11   927.34   337.70  1488.90     396.56
Range          568.80  1386.32   311.48   657.06   548.97  1228.72  1216.13  1191.93   769.43    806.68   868.55   311.48  1386.32     362.69
Percentile     595.01  1471.55   336.35   709.69   577.12  1317.35  1298.87  1282.63   808.92    829.63   922.71   336.35  1471.55     389.53

14 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  1145.81  3204.29   756.53  1506.09  1173.00  2073.44  2677.89  2666.93  1716.03   1819.87  1873.99   756.53  3204.29     783.02
Flat Energy    263.54   736.99   174.00   346.40   269.79   476.89   615.92   613.39   394.69    418.57   431.02   174.00   736.99     180.10
Time of Use    275.88   793.15   187.12   359.08   284.53   514.00   660.87   658.52   418.15    431.82   458.31   187.12   793.15     195.94
Range          265.14   744.74   172.61   335.06   275.35   470.10   616.33   613.66   396.32    424.13   431.34   172.61   744.74     181.55
Percentile     278.20   784.13   185.08   361.26   283.25   509.80   653.90   651.11   415.35    434.13   455.62   185.08   784.13     192.57

7 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   531.62  1723.19   366.16   693.30   565.29   715.88  1246.81  1528.56   761.75    895.42   902.80   366.16  1723.19     449.87
Flat Energy    122.27   396.33    84.22   159.46   130.02   164.65   286.77   351.57   175.20    205.95   207.64    84.22   396.33     103.47
Time of Use    128.00   426.65    90.74   165.78   136.89   176.08   308.06   376.97   187.12    212.95   220.92    90.74   426.65     112.14
Range          125.59   404.17    85.82   162.12   132.86   158.83   287.62   355.35   176.75    208.83   209.79    85.82   404.17     105.08
Percentile     129.12   422.05    89.70   167.02   136.86   175.39   305.60   372.57   185.30    213.66   219.73    89.70   422.05     110.36

3 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   208.36   621.80   162.50   241.51   219.84   295.84   599.10   724.81   269.09    309.84   365.27   162.50   724.81     202.51
Flat Energy     47.92   143.01    37.38    55.55    50.56    68.04   137.79   166.71    61.89     71.26    84.01    37.38   166.71      46.58
Time of Use     49.71   154.64    40.35    57.60    53.13    73.72   148.93   179.14    66.65     74.59    89.85    40.35   179.14      50.71
Range           49.45   146.84    38.12    55.83    51.37    67.05   138.75   169.54    63.64     72.13    85.27    38.12   169.54      47.43
Percentile      50.74   153.43    39.77    58.54    53.34    73.02   146.56   176.38    65.64     74.07    89.15    39.77   176.38      49.68

2 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   171.54   266.65   112.88   146.24   138.04   196.80   423.78   527.03   189.53    224.36   239.69   112.88   527.03     133.98
Flat Energy     39.45    61.33    25.96    33.63    31.75    45.26    97.47   121.22    43.59     51.60    55.13    25.96   121.22      30.82
Time of Use     40.73    66.32    27.95    34.91    33.27    48.96   105.64   129.97    46.86     53.81    58.84    27.95   129.97      33.47
Range           40.97    62.37    26.61    34.03    32.49    44.40    98.74   124.16    44.84     53.02    56.16    26.61   124.16      31.46
Percentile      41.44    66.00    27.61    35.53    33.69    48.46   103.60   128.05    46.11     53.40    58.39    27.61   128.05      32.65

1 Day Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)    85.66   184.64    60.04   103.58    95.25    75.15   218.58   241.68    77.97    123.79   126.63    60.04   241.68      64.73
Flat Energy     19.70    42.47    13.81    23.82    21.91    17.28    50.27    55.59    17.93     28.47    29.12    13.81    55.59      14.89
Time of Use     20.96    45.93    14.74    24.25    22.72    18.55    54.64    60.33    19.19     29.26    31.06    14.74    60.33      16.39
Range           20.90    43.52    14.05    23.79    22.71    17.63    51.69    56.78    18.34     29.46    29.89    14.05    56.78      15.23
Percentile      20.85    45.40    14.61    24.76    23.02    18.46    53.60    58.94    18.94     29.32    30.79    14.61    58.94      15.91

Average Values Summary - BRYANT:

              28 Days  14 Days  7 Days  3 Days  2 Days   1 Day
Energy (kWh)  3793.53  1873.99  902.80  365.27  239.69  126.63
Flat Energy    872.51   431.02  207.64   84.01   55.13   29.12
Time of Use    927.34   458.31  220.92   89.85   58.84   31.06
Range          868.55   431.34  209.79   85.27   56.16   29.89
Percentile     922.71   455.62  219.73   89.15   58.39   30.79

Minimum Values Summary - BRYANT:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  1372.00   756.53  366.16  162.50  112.88  60.04
Flat Energy    315.56   174.00   84.22   37.38   25.96  13.81
Time of Use    337.70   187.12   90.74   40.35   27.95  14.74
Range          311.48   172.61   85.82   38.12   26.61  14.05
Percentile     336.35   185.08   89.70   39.77   27.61  14.61

Maximum Values Summary - BRYANT:

              28 Days  14 Days   7 Days  3 Days  2 Days   1 Day
Energy (kWh)  6014.59  3204.29  1723.19  724.81  527.03  241.68
Flat Energy   1383.36   736.99   396.33  166.71  121.22   55.59
Time of Use   1488.90   793.15   426.65  179.14  129.97   60.33
Range         1386.32   744.74   404.17  169.54  124.16   56.78
Percentile    1471.55   784.13   422.05  176.38  128.05   58.94

Standard Deviation Values Summary - BRYANT:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  1582.24   783.02  449.87  202.51  133.98  64.73
Flat Energy    363.92   180.10  103.47   46.58   30.82  14.89
Time of Use    396.56   195.94  112.14   50.71   33.47  16.39
Range          362.69   181.55  105.08   47.43   31.46  15.23
Percentile     389.53   192.57  110.36   49.68   32.65  15.91