In [1]:
# Import necessary libraries
import numpy as np, pandas as pd
import random
import time
import os

# Adjust options for viewing dataframes in notebook
pd.set_option('display.width', 2000)

In [2]:
# Function for reading a data file

def read_data(name):
    df = pd.read_csv('./../../data/clean_data/' + name + '.csv')
    df['Hour'] = pd.to_datetime(df['Hour'])
    df = df.set_index('Hour')
    df.index.freq = 'h'
    return df

In [3]:
# Function for locating random batches from dataset

## Take dataset, length of test data and number of batches to extract as parameters
## Find a number of digits that represent the indices of the original dataset, where the extracted batches will start from
## Each subset dataset will not intersect with other datasets

def extract_batches(df, test_length, batch_count):
    start = time.time()
    random_int_list = []
    m = 0
    random.seed(1)
    data_end = len(df)
    while m < batch_count:
        random_int = random.randint(0, data_end - test_length)
        q = 0
        for i in random_int_list:
            # Make sure batches do not overlap
            if i + test_length <= random_int or random_int + test_length <= i:
                pass
            else:
                q = 1
                # In case solution does not exist with current combination
                if time.time() - start > 2:
                    print('Restarted')
                    random_int_list = []
                    start = time.time()
                    m = 0

        # Prevent batches with 0 energy
        if df['Energy'][random_int: random_int + test_length].sum() == 0:
            q = 1

        # Record the position of the batch
        if q == 0:
            random_int_list.append(random_int)
            m = m + 1
    return random_int_list

In [4]:
# Range Pricing Method:
# The energy rate assigned to an hour's demand value is dependent on which demand threshold it falls under
# Demand thresholds are calculated by splitting the demand range evenly
# The higher the demand threshold the higher the price assigned

# Function for creating a price profile using the range pricing method

def range_pricing(test, min_price, max_price):

    # Possible prices per kWh are in range [min_price, max_price]
    price_set = [x / 100 for x in range(min_price, max_price + 1)]
    price_set_count = len(price_set)

    # The range of demand is split into equal bins, one for each possible price
    max_demand = max(test)
    min_demand = min(test)
    bin_size = (max_demand - min_demand) / price_set_count

    # Demand thresholds for each price are calculated
    demand_thresholds = []
    j = 1
    while j < price_set_count + 1:
        demand_thresholds.append(min_demand + bin_size * j)
        j = j + 1

    # To tackle float representation imprecision, the highest demand threshold is increased a little
    demand_thresholds[-1] = demand_thresholds[-1] + 1

    # Every demand value is compared with the demand thresholds and assigned a demand-proportional price
    price_profile = []
    i = 0
    while i < len(test):
        j = 0
        while j < price_set_count:
            if test[i] <= demand_thresholds[j]:
                price_profile.append(price_set[j])
                break
            j = j + 1
        i = i + 1

    return price_profile

In [5]:
# Percentile Pricing Method:
# The energy rate assigned to an hour's demand value is dependent on which demand threshold it falls under
# Demand thresholds are calculated by identifying demand values at specific percentile positions
# The higher the demand threshold the higher the price assigned

# Function for creating a price profile using the percentile pricing method

def percentile_pricing(test, min_price, max_price):

    # A list of possible prices in range [min_price, max_price] is created
    price_set = [x / 100 for x in range(min_price, max_price + 1)]
    price_set_count = len(price_set)

    # Percentile thresholds for each price are calculated
    bin_size = 100 / price_set_count
    percentile_thresholds = []
    j = 1
    while j < price_set_count + 1:
        percentile_thresholds.append(bin_size * j)
        j = j + 1

    # Demand thresholds for each price are calculated
    demand_thresholds = []
    for k in percentile_thresholds:
        demand_thresholds.append(np.percentile(test, k))

    # Every demand value is compared with the demand thresholds and assigned a demand-proportional price
    price_profile = []
    i = 0
    while i < len(test):
        j = 0
        while j < price_set_count:
            if test[i] <= demand_thresholds[j]:
                price_profile.append(price_set[j])
                break
            j = j + 1
        i = i + 1

    return price_profile

In [6]:
# Function for creating a price profile using the flat energy pricing method

def flat_energy_pricing(test, flat_price):
    total_hours = len(test)
    price_profile = []

    i = 0
    while i < total_hours:
        price_profile.append(flat_price)
        i = i + 1
    
    return price_profile

In [7]:
# Function for creating a price profile using the time of use energy pricing method

def tou_pricing(test, tou_dict):
    price_profile = []
    
    for Hour in test.index:
        [min_time, max_time] = tou_dict['time_range']
        [min_period_price, max_period_price] = tou_dict['prices']

        if (Hour.hour < max_time) & (Hour.hour >= min_time):
            price_profile.append(max_period_price)
        else:
            price_profile.append(min_period_price)
    
    return price_profile

In [8]:
# Function for measuring demand-proportionality of a pricing method using Pearson Correlation Coefficient

def demand_proportionality(demand, price_profile):
    # If any array has all identical values, the arrays do not correlate
    if len(set(demand)) == 1 or len(set(price_profile)) == 1:
        price_proportionality = float(0)
    else:
        # Proportionality measured using Pearson Correlation Coefficient
        price_proportionality = np.corrcoef(demand, price_profile)[0, 1]
    price_proportionality = np.round(price_proportionality, 3)
    return price_proportionality

In [9]:
# Function for running the demand proportionality simulation and collecting the results

def analyse(df, test_length, batch_count):
    # Find appropriate (random) start indices for batches to prevent overlap
    start_index_list = extract_batches(df, test_length, batch_count)
    
    # Create the empty results dataframe to hold the results
    df_results = pd.DataFrame(columns=['Energy (kWh)', 'Flat Energy', 'Time of Use', 'Range', 'Percentile'])

    for start_index in start_index_list:
        # Retrieve the batch test data
        test = df[start_index: start_index + test_length]

        # Calculate hourly demand profile in batch
        demand_value_profile = test['Energy']
        
        # Calculate total energy demand in batch
        demand_value = np.round(demand_value_profile.sum(), 2)

        # Calculate the price profile and demand proportionality value for each pricing method: 
        ## Flat Energy Pricing Method (0.23 dollars per kWh)
        flat_energy_price_profile = flat_energy_pricing(test['Energy'], 0.23)
        flat_energy_value = demand_proportionality(demand_value_profile, flat_energy_price_profile)

        ## Time of Use Pricing Method (0.25 dollars per kWh between 08:00 - 21:00, 0.2 dollars otherwise )
        tou_dict = {'time_range': [8, 21], 'prices': [0.20, 0.25]}
        tou_price_profile = tou_pricing(test['Energy'], tou_dict)
        tou_value = demand_proportionality(demand_value_profile, tou_price_profile)

        ## Range Pricing Method
        range_price_profile = range_pricing(test['Energy'], 20, 25)
        range_value = demand_proportionality(demand_value_profile, range_price_profile)

        ## Percentile Pricing Method
        percentile_price_profile = percentile_pricing(test['Energy'], 20, 25)
        percentile_value = demand_proportionality(demand_value_profile, percentile_price_profile)

        # Append the batch results to the results dataframe
        row = [demand_value, flat_energy_value, tou_value, range_value, percentile_value]
        df_results = pd.concat([df_results, pd.DataFrame([row], columns=df_results.columns)], ignore_index=True)

    # Calculate the average of each column
    average_value_list = np.round(df_results.mean(), 2).tolist()
    # Calculate the minimum of each column
    min_value_list = np.round(df_results.min(), 2).tolist()
    # Calculate the maximum of each column
    max_value_list = np.round(df_results.max(), 2).tolist()
    # Calculate the standard deviation of each column
    stddev_value_list = np.round(df_results.std(), 2).tolist()

    # Append the average to each column
    df_results = pd.concat([df_results, pd.DataFrame([average_value_list], columns=df_results.columns)], ignore_index=True)
    # Append the minimum to each column
    df_results = pd.concat([df_results, pd.DataFrame([min_value_list], columns=df_results.columns)], ignore_index=True)
    # Append the maximum to each column
    df_results = pd.concat([df_results, pd.DataFrame([max_value_list], columns=df_results.columns)], ignore_index=True)
    # Append the standard deviation to each column
    df_results = pd.concat([df_results, pd.DataFrame([stddev_value_list], columns=df_results.columns)], ignore_index=True)

    # Reformat the results dataframe
    df_results = df_results.transpose()
    df_results.columns = ['Batch 1', 'Batch 2', 'Batch 3', 'Batch 4', 'Batch 5', 'Batch 6', 'Batch 7', 'Batch 8', 'Batch 9', 'Batch 10',
                            'Average', 'Minimum', 'Maximum', 'Std. Dev.']
    
    # Display results
    display(df_results)

    return df_results

In [10]:
# Function for conducting extensive batch testing of demand proportionality for different periods, with 10 random batches each

def main():
    # Make the directory for the results
    if os.path.isdir('../../data/demand_proportionality_results'):
        pass
    else:
        os.mkdir('../../data/demand_proportionality_results')

    print('-- Demand proportionality simulation for different pricing methods --')
    for name in ['WEBSTER', 'CAMBRIDGE', 'MPL', 'RINCONADA LIB', 'TED THOMPSON', 'HAMILTON', 'HIGH', 'BRYANT']:

        df = read_data(name)
        print('\n{}'.format(name))
        file_name = '../../data/demand_proportionality_results/' + name + '.xlsx'

        # Write the tables to appropriate xlsx files
        with pd.ExcelWriter(file_name, mode='w', engine='xlsxwriter') as writer:
            
            # Modify execution parameters if needed
            test_length = [672, 336, 168, 72, 48, 24]                                     # Hours in batch
            batch_count = [10, 10, 10, 10, 10, 10]                                        # Batch count
            start_row = [0, 7, 14, 21, 28, 35]                                            # Row position in xlsx file to write results in
            durations = ['28 Days', '14 Days', '7 Days', '3 Days', '2 Days', '1 Day']     # Durations of batches, used for titles

            all_results_list = []

            i = 0
            while i < len(test_length):
                print('{} Revenue Simulation:'.format(durations[i]))

                # Run set of batches and collect results
                df_results = analyse(df, test_length[i], batch_count[i])
                all_results_list.append(df_results)

                # Write results to xlsx file
                df_results.to_excel(writer, sheet_name=name, startrow=start_row[i])
                pd.DataFrame(['{} Revenue'.format(durations[i])]).to_excel(writer, sheet_name=name, startrow=start_row[i], header=None, index=None)
                i = i + 1

            # Create summary dataframes
            df_summary_avg = pd.concat([df['Average'] for df in all_results_list], axis="columns")
            df_summary_min = pd.concat([df['Minimum'] for df in all_results_list], axis="columns")
            df_summary_max = pd.concat([df['Maximum'] for df in all_results_list], axis="columns")
            df_summary_stddev = pd.concat([df['Std. Dev.'] for df in all_results_list], axis="columns")

            for i in [df_summary_avg, df_summary_min, df_summary_max, df_summary_stddev]:
                i.columns = durations

            # Modify summary parameters if needed
            start_row = [42, 49, 56, 63]                                                        # Row position in xlsx file to write results in
            summary_name = [df_summary_avg, df_summary_min, df_summary_max, df_summary_stddev]  # Summary reference list
            print_title = ['Average', 'Minimum', 'Maximum', 'Standard Deviation']               # Title for printing results
            summary_title = ['Avg.', 'Min.', 'Max.', 'Std.Dev.']                                # Dataframe title in xlsx file

            i = 0
            while i < 4:
                print('{} Values Summary - {}:'.format(print_title[i], name))

                # Display summary
                display(summary_name[i])

                # Write summary to xlsx file
                summary_name[i].to_excel(writer, sheet_name=name, startrow=start_row[i])
                pd.DataFrame(['{} Summary'.format(summary_title[i])]).to_excel(writer, sheet_name=name, startrow=start_row[i], header=None, index=None)
                i = i + 1

            # Adjust the first column's width
            worksheet = writer.sheets[name]
            workbook = writer.book
            worksheet.set_column(0, 0, 15)
            # Adjust cell formating
            format1 = workbook.add_format({'bg_color': '#EDEDED', 'num_format': '#,##0.00', 'border': 1})
            worksheet.conditional_format(0, 0, 68, 14, {'type': 'no_blanks', 'format': format1})
main()

-- Demand proportionality simulation for different pricing methods --

WEBSTER
28 Days Revenue Simulation:

               Batch 1   Batch 2   Batch 3   Batch 4   Batch 5   Batch 6   Batch 7   Batch 8   Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  6461.360  4470.500  5145.900  4512.070  7848.190  4678.380  7806.770  4569.640  1338.020  2650.730  4948.16  1338.02  7848.19    2050.92
Flat Energy      0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.00     0.00     0.00       0.00
Time of Use      0.647     0.638     0.678     0.648     0.698     0.679     0.656     0.703     0.450     0.495     0.63     0.45     0.70       0.09
Range            0.982     0.975     0.981     0.980     0.982     0.979     0.978     0.984     0.954     0.982     0.98     0.95     0.98       0.01
Percentile       0.967     0.908     0.943     0.917     0.982     0.926     0.982     0.918     0.795     0.922     0.93     0.80     0.98       0.05

14 Days Revenue Simulation:

               Batch 1   Batch 2   Batch 3   Batch 4   Batch 5   Batch 6   Batch 7   Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  3136.170  1860.310  2711.740  2355.100  3878.360  1997.780  3893.650  2421.250  715.710  2434.130  2540.42   715.71  3893.65     951.72
Flat Energy      0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use      0.628     0.600     0.722     0.624     0.722     0.602     0.631     0.737    0.437     0.679     0.64     0.44     0.74       0.09
Range            0.983     0.981     0.984     0.983     0.987     0.974     0.979     0.985    0.956     0.983     0.98     0.96     0.99       0.01
Percentile       0.963     0.891     0.950     0.923     0.985     0.913     0.980     0.924    0.777     0.938     0.92     0.78     0.98       0.06

7 Days Revenue Simulation:

               Batch 1  Batch 2   Batch 3   Batch 4   Batch 5   Batch 6   Batch 7   Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  1515.650  641.670  1267.700  1283.620  1893.060  1052.570  1867.040  1228.700  314.560  1296.790  1236.14   314.56  1893.06     488.89
Flat Energy      0.000    0.000     0.000     0.000     0.000     0.000     0.000     0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use      0.554    0.541     0.732     0.666     0.708     0.641     0.623     0.708    0.451     0.681     0.63     0.45     0.73       0.09
Range            0.984    0.971     0.984     0.982     0.988     0.970     0.980     0.985    0.963     0.984     0.98     0.96     0.99       0.01
Percentile       0.965    0.862     0.953     0.936     0.983     0.931     0.974     0.926    0.780     0.937     0.92     0.78     0.98       0.06

3 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  448.750  262.310  549.910  597.540  818.210  534.650  610.890  597.780  224.900   681.090   532.60   224.90   818.21     180.52
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.620    0.689    0.664    0.697    0.720    0.732    0.483    0.824    0.582     0.856     0.69     0.48     0.86       0.11
Range           0.985    0.984    0.985    0.983    0.985    0.989    0.987    0.990    0.975     0.988     0.99     0.98     0.99       0.00
Percentile      0.891    0.905    0.953    0.948    0.984    0.968    0.950    0.950    0.844     0.962     0.94     0.84     0.98       0.04

2 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  241.850  171.440  384.200  346.030  530.330  355.820  290.060  385.510  130.460   425.360   326.11   130.46   530.33     120.34
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.570    0.685    0.814    0.686    0.674    0.734    0.654    0.823    0.588     0.831     0.71     0.57     0.83       0.09
Range           0.985    0.985    0.986    0.981    0.984    0.989    0.975    0.991    0.981     0.986     0.98     0.98     0.99       0.00
Percentile      0.808    0.901    0.956    0.916    0.976    0.965    0.914    0.956    0.853     0.963     0.92     0.81     0.98       0.05

1 Day Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  182.870   70.570  178.070  117.720  187.510  192.530  111.060  182.720   45.400   212.420   148.09    45.40   212.42      57.56
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.715    0.611    0.790    0.728    0.729    0.639    0.632    0.814    0.679     0.802     0.71     0.61     0.81       0.07
Range           0.993    0.982    0.989    0.990    0.984    0.992    0.987    0.991    0.990     0.988     0.99     0.98     0.99       0.00
Percentile      0.919    0.892    0.943    0.923    0.968    0.971    0.960    0.954    0.880     0.942     0.94     0.88     0.97       0.03

Average Values Summary - WEBSTER:

              28 Days  14 Days   7 Days  3 Days  2 Days   1 Day
Energy (kWh)  4948.16  2540.42  1236.14  532.60  326.11  148.09
Flat Energy      0.00     0.00     0.00    0.00    0.00    0.00
Time of Use      0.63     0.64     0.63    0.69    0.71    0.71
Range            0.98     0.98     0.98    0.99    0.98    0.99
Percentile       0.93     0.92     0.92    0.94    0.92    0.94

Minimum Values Summary - WEBSTER:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  1338.02   715.71  314.56  224.90  130.46  45.40
Flat Energy      0.00     0.00    0.00    0.00    0.00   0.00
Time of Use      0.45     0.44    0.45    0.48    0.57   0.61
Range            0.95     0.96    0.96    0.98    0.98   0.98
Percentile       0.80     0.78    0.78    0.84    0.81   0.88

Maximum Values Summary - WEBSTER:

              28 Days  14 Days   7 Days  3 Days  2 Days   1 Day
Energy (kWh)  7848.19  3893.65  1893.06  818.21  530.33  212.42
Flat Energy      0.00     0.00     0.00    0.00    0.00    0.00
Time of Use      0.70     0.74     0.73    0.86    0.83    0.81
Range            0.98     0.99     0.99    0.99    0.99    0.99
Percentile       0.98     0.98     0.98    0.98    0.98    0.97

Standard Deviation Values Summary - WEBSTER:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  2050.92   951.72  488.89  180.52  120.34  57.56
Flat Energy      0.00     0.00    0.00    0.00    0.00   0.00
Time of Use      0.09     0.09    0.09    0.11    0.09   0.07
Range            0.01     0.01    0.01    0.00    0.00   0.00
Percentile       0.05     0.06    0.06    0.04    0.05   0.03

CAMBRIDGE
28 Days Revenue Simulation:

               Batch 1   Batch 2   Batch 3   Batch 4   Batch 5   Batch 6   Batch 7   Batch 8   Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  6615.770  3641.510  3679.130  3537.120  3681.520  4304.340  3742.700  2843.400  2376.660  2156.640  3657.88  2156.64  6615.77    1235.97
Flat Energy      0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.00     0.00     0.00       0.00
Time of Use      0.687     0.551     0.631     0.567     0.751     0.569     0.664     0.625     0.517     0.448     0.60     0.45     0.75       0.09
Range            0.981     0.957     0.958     0.973     0.986     0.973     0.982     0.986     0.964     0.953     0.97     0.95     0.99       0.01
Percentile       0.898     0.860     0.875     0.854     0.983     0.870     0.984     0.948     0.845     0.819     0.89     0.82     0.98       0.06

14 Days Revenue Simulation:

               Batch 1   Batch 2   Batch 3   Batch 4   Batch 5   Batch 6   Batch 7   Batch 8   Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  3516.910  1169.520  1798.040  1689.680  1768.760  1778.560  1756.390  1566.650  1148.860  1305.170  1749.85  1148.86  3516.91     671.56
Flat Energy      0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.00     0.00     0.00       0.00
Time of Use      0.706     0.468     0.637     0.543     0.743     0.535     0.658     0.624     0.547     0.572     0.60     0.47     0.74       0.09
Range            0.980     0.970     0.966     0.978     0.986     0.965     0.984     0.986     0.965     0.976     0.98     0.96     0.99       0.01
Percentile       0.913     0.820     0.874     0.839     0.978     0.839     0.983     0.958     0.840     0.883     0.89     0.82     0.98       0.06

7 Days Revenue Simulation:

               Batch 1  Batch 2  Batch 3   Batch 4  Batch 5   Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  1802.690  389.940  851.470  1046.470  912.560  1087.980  834.460  767.830  644.850   683.470   902.17   389.94  1802.69     375.35
Flat Energy      0.000    0.000    0.000     0.000    0.000     0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use      0.727    0.439    0.610     0.654    0.780     0.599    0.669    0.668    0.546     0.576     0.63     0.44     0.78       0.10
Range            0.980    0.958    0.971     0.983    0.990     0.973    0.984    0.986    0.966     0.974     0.98     0.96     0.99       0.01
Percentile       0.920    0.789    0.858     0.890    0.978     0.863    0.975    0.949    0.861     0.872     0.90     0.79     0.98       0.06

3 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  703.570  131.840  410.190  485.960  377.880  668.270  255.260  393.340  239.730   382.970   404.90   131.84   703.57     179.74
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.693    0.453    0.670    0.697    0.820    0.762    0.621    0.716    0.495     0.661     0.66     0.45     0.82       0.11
Range           0.986    0.985    0.976    0.982    0.992    0.980    0.986    0.987    0.965     0.979     0.98     0.96     0.99       0.01
Percentile      0.935    0.880    0.903    0.918    0.967    0.922    0.915    0.978    0.804     0.914     0.91     0.80     0.98       0.05

2 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  385.650   93.380  308.380  321.460  225.490  434.600  103.350  281.870  140.380   236.520   253.11    93.38   434.60     115.83
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.642    0.509    0.638    0.687    0.809    0.785    0.571    0.704    0.693     0.622     0.67     0.51     0.81       0.09
Range           0.983    0.983    0.981    0.980    0.991    0.990    0.985    0.987    0.991     0.983     0.99     0.98     0.99       0.00
Percentile      0.905    0.919    0.906    0.903    0.966    0.931    0.875    0.983    0.914     0.908     0.92     0.88     0.98       0.03

1 Day Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  111.190   31.920  161.590  166.600   85.100  237.750   60.660  120.480   79.610   121.010   117.59    31.92   237.75      59.55
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.627    0.379    0.656    0.866    0.777    0.807    0.649    0.705    0.817     0.678     0.70     0.38     0.87       0.14
Range           0.982    0.985    0.981    0.986    0.996    0.992    0.992    0.984    0.992     0.987     0.99     0.98     1.00       0.01
Percentile      0.808    0.920    0.904    0.966    0.976    0.940    0.936    0.959    0.942     0.944     0.93     0.81     0.98       0.05

Average Values Summary - CAMBRIDGE:

              28 Days  14 Days  7 Days  3 Days  2 Days   1 Day
Energy (kWh)  3657.88  1749.85  902.17  404.90  253.11  117.59
Flat Energy      0.00     0.00    0.00    0.00    0.00    0.00
Time of Use      0.60     0.60    0.63    0.66    0.67    0.70
Range            0.97     0.98    0.98    0.98    0.99    0.99
Percentile       0.89     0.89    0.90    0.91    0.92    0.93

Minimum Values Summary - CAMBRIDGE:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  2156.64  1148.86  389.94  131.84   93.38  31.92
Flat Energy      0.00     0.00    0.00    0.00    0.00   0.00
Time of Use      0.45     0.47    0.44    0.45    0.51   0.38
Range            0.95     0.96    0.96    0.96    0.98   0.98
Percentile       0.82     0.82    0.79    0.80    0.88   0.81

Maximum Values Summary - CAMBRIDGE:

              28 Days  14 Days   7 Days  3 Days  2 Days   1 Day
Energy (kWh)  6615.77  3516.91  1802.69  703.57  434.60  237.75
Flat Energy      0.00     0.00     0.00    0.00    0.00    0.00
Time of Use      0.75     0.74     0.78    0.82    0.81    0.87
Range            0.99     0.99     0.99    0.99    0.99    1.00
Percentile       0.98     0.98     0.98    0.98    0.98    0.98

Standard Deviation Values Summary - CAMBRIDGE:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  1235.97   671.56  375.35  179.74  115.83  59.55
Flat Energy      0.00     0.00    0.00    0.00    0.00   0.00
Time of Use      0.09     0.09    0.10    0.11    0.09   0.14
Range            0.01     0.01    0.01    0.01    0.00   0.01
Percentile       0.06     0.06    0.06    0.05    0.03   0.05

MPL
28 Days Revenue Simulation:

               Batch 1   Batch 2   Batch 3   Batch 4   Batch 5   Batch 6  Batch 7   Batch 8   Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  2425.450  2983.040  2046.420  3076.410  2412.810  5626.800  287.550  2129.170  5395.610  2951.400  2933.47   287.55  5626.80    1574.21
Flat Energy      0.000     0.000     0.000     0.000     0.000     0.000    0.000     0.000     0.000     0.000     0.00     0.00     0.00       0.00
Time of Use      0.637     0.449     0.501     0.571     0.567     0.572    0.237     0.529     0.483     0.638     0.52     0.24     0.64       0.12
Range            0.967     0.967     0.978     0.973     0.972     0.971    0.973     0.984     0.963     0.974     0.97     0.96     0.98       0.01
Percentile       0.896     0.938     0.891     0.945     0.910     0.963    0.748     0.913     0.958     0.931     0.91     0.75     0.96       0.06

14 Days Revenue Simulation:

               Batch 1   Batch 2  Batch 3   Batch 4   Batch 5   Batch 6  Batch 7  Batch 8   Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  1157.660  1625.280  742.160  1500.620  1172.590  2697.110   93.190  881.360  2765.600  1465.450  1410.10    93.19  2765.60     825.39
Flat Energy      0.000     0.000    0.000     0.000     0.000     0.000    0.000    0.000     0.000     0.000     0.00     0.00     0.00       0.00
Time of Use      0.660     0.522    0.517     0.591     0.566     0.523    0.189    0.450     0.473     0.618     0.51     0.19     0.66       0.13
Range            0.981     0.976    0.979     0.974     0.971     0.970    0.986    0.985     0.962     0.983     0.98     0.96     0.99       0.01
Percentile       0.895     0.955    0.855     0.945     0.891     0.956    0.704    0.886     0.957     0.924     0.90     0.70     0.96       0.08

7 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5   Batch 6  Batch 7  Batch 8   Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  630.170  750.150  375.550  673.060  576.200  1228.180    0.560  433.250  1553.570   761.020   698.17     0.56  1553.57     434.66
Flat Energy     0.000    0.000    0.000    0.000    0.000     0.000    0.000    0.000     0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.724    0.463    0.531    0.654    0.609     0.484    0.071    0.489     0.556     0.608     0.52     0.07     0.72       0.18
Range           0.982    0.972    0.981    0.980    0.974     0.974    1.000    0.984     0.973     0.988     0.98     0.97     1.00       0.01
Percentile      0.909    0.935    0.853    0.928    0.891     0.956    1.000    0.871     0.964     0.934     0.92     0.85     1.00       0.04

3 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  308.820  317.830  190.430  249.080  256.580  498.560  188.560  692.190  294.520   178.550   317.51   178.55   692.19     161.33
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.745    0.344    0.593    0.604    0.637    0.408    0.529    0.655    0.631     0.449     0.56     0.34     0.74       0.12
Range           0.988    0.985    0.993    0.990    0.988    0.978    0.984    0.979    0.991     0.986     0.99     0.98     0.99       0.00
Percentile      0.918    0.960    0.890    0.933    0.882    0.969    0.904    0.964    0.893     0.854     0.92     0.85     0.97       0.04

2 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  247.850  239.800  147.470  178.750  170.590  334.830  120.720  434.230  163.090   110.080   214.74   110.08   434.23     102.50
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.811    0.202    0.682    0.695    0.595    0.379    0.593    0.737    0.626     0.382     0.57     0.20     0.81       0.19
Range           0.989    0.985    0.994    0.991    0.987    0.976    0.986    0.979    0.991     0.990     0.99     0.98     0.99       0.01
Percentile      0.948    0.947    0.922    0.946    0.871    0.961    0.889    0.965    0.878     0.860     0.92     0.86     0.96       0.04

1 Day Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  134.340  142.160   87.390  102.460   57.040  189.040   56.720  192.100   95.430    44.430   110.11    44.43   192.10      53.06
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.787    0.463    0.785    0.894    0.546    0.806    0.472    0.800    0.669     0.214     0.64     0.21     0.89       0.21
Range           0.991    0.989    0.995    0.994    0.990    0.989    0.985    0.989    0.994     0.994     0.99     0.98     1.00       0.00
Percentile      0.940    0.966    0.930    0.975    0.838    0.971    0.861    0.972    0.912     0.879     0.92     0.84     0.98       0.05

Average Values Summary - MPL:

              28 Days  14 Days  7 Days  3 Days  2 Days   1 Day
Energy (kWh)  2933.47  1410.10  698.17  317.51  214.74  110.11
Flat Energy      0.00     0.00    0.00    0.00    0.00    0.00
Time of Use      0.52     0.51    0.52    0.56    0.57    0.64
Range            0.97     0.98    0.98    0.99    0.99    0.99
Percentile       0.91     0.90    0.92    0.92    0.92    0.92

Minimum Values Summary - MPL:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)   287.55    93.19    0.56  178.55  110.08  44.43
Flat Energy      0.00     0.00    0.00    0.00    0.00   0.00
Time of Use      0.24     0.19    0.07    0.34    0.20   0.21
Range            0.96     0.96    0.97    0.98    0.98   0.98
Percentile       0.75     0.70    0.85    0.85    0.86   0.84

Maximum Values Summary - MPL:

              28 Days  14 Days   7 Days  3 Days  2 Days   1 Day
Energy (kWh)  5626.80  2765.60  1553.57  692.19  434.23  192.10
Flat Energy      0.00     0.00     0.00    0.00    0.00    0.00
Time of Use      0.64     0.66     0.72    0.74    0.81    0.89
Range            0.98     0.99     1.00    0.99    0.99    1.00
Percentile       0.96     0.96     1.00    0.97    0.96    0.98

Standard Deviation Values Summary - MPL:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  1574.21   825.39  434.66  161.33  102.50  53.06
Flat Energy      0.00     0.00    0.00    0.00    0.00   0.00
Time of Use      0.12     0.13    0.18    0.12    0.19   0.21
Range            0.01     0.01    0.01    0.00    0.01   0.00
Percentile       0.06     0.08    0.04    0.04    0.04   0.05

RINCONADA LIB
28 Days Revenue Simulation:

               Batch 1   Batch 2   Batch 3   Batch 4   Batch 5   Batch 6   Batch 7   Batch 8   Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  1660.380  1916.170  1648.610  1255.320  1270.380  4196.140  1488.010  4439.250  1828.530  2432.620  2213.54  1255.32  4439.25    1160.86
Flat Energy      0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.00     0.00     0.00       0.00
Time of Use      0.415     0.420     0.236     0.314     0.174     0.572     0.331     0.433     0.366     0.395     0.37     0.17     0.57       0.11
Range            0.969     0.976     0.970     0.964     0.965     0.982     0.979     0.978     0.976     0.979     0.97     0.96     0.98       0.01
Percentile       0.849     0.910     0.891     0.855     0.836     0.978     0.868     0.977     0.872     0.925     0.90     0.84     0.98       0.05

14 Days Revenue Simulation:

              Batch 1   Batch 2  Batch 3  Batch 4  Batch 5   Batch 6  Batch 7   Batch 8   Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  716.010  1109.660  741.250  660.630  640.590  1938.820  679.680  2110.400  1093.340   629.380  1031.98   629.38  2110.40     553.45
Flat Energy     0.000     0.000    0.000    0.000    0.000     0.000    0.000     0.000     0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.432     0.434    0.215    0.285    0.119     0.589    0.337     0.522     0.344     0.480     0.38     0.12     0.59       0.14
Range           0.973     0.984    0.983    0.965    0.979     0.982    0.979     0.978     0.979     0.975     0.98     0.96     0.98       0.01
Percentile      0.841     0.928    0.900    0.836    0.837     0.970    0.879     0.974     0.896     0.825     0.89     0.82     0.97       0.06

7 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7   Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  311.820  560.430  346.000  323.350  359.180  877.290  471.130  1025.370  529.760   288.250   509.26   288.25  1025.37     253.39
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.549    0.475    0.299    0.239    0.128    0.558    0.328     0.518    0.311     0.457     0.39     0.13     0.56       0.15
Range           0.990    0.985    0.985    0.979    0.982    0.983    0.978     0.976    0.983     0.979     0.98     0.98     0.99       0.00
Percentile      0.882    0.919    0.888    0.851    0.836    0.958    0.919     0.963    0.923     0.785     0.89     0.78     0.96       0.06

3 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  161.980  283.890  138.890  135.030   38.120  385.220  149.070  425.870  202.950   119.700   204.07    38.12   425.87     123.31
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.588    0.558    0.294   -0.121    0.211    0.594    0.561    0.566    0.173     0.529     0.40    -0.12     0.59       0.24
Range           0.992    0.990    0.983    0.996    0.989    0.984    0.987    0.983    0.976     0.982     0.99     0.98     1.00       0.01
Percentile      0.884    0.941    0.879    0.924    0.885    0.962    0.907    0.969    0.932     0.814     0.91     0.81     0.97       0.05

2 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  125.080  194.760  123.780  106.330   27.310  296.410  100.730  317.200  132.950    85.040   150.96    27.31   317.20      92.25
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.619    0.696    0.305   -0.381    0.143    0.581    0.553    0.506    0.245     0.506     0.38    -0.38     0.70       0.32
Range           0.995    0.994    0.985    0.996    0.996    0.988    0.988    0.985    0.974     0.988     0.99     0.97     1.00       0.01
Percentile      0.932    0.942    0.922    0.907    0.874    0.972    0.914    0.970    0.927     0.801     0.92     0.80     0.97       0.05

1 Day Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   76.060   92.890   98.580   22.010   11.550  160.600   34.540  156.380   67.470    61.450    78.15    11.55   160.60      51.03
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.770    0.561    0.308    0.044   -0.224    0.505    0.593    0.287    0.127     0.580     0.36    -0.22     0.77       0.30
Range           0.995    0.992    0.980    0.998    0.997    0.991    0.991    0.986    0.979     0.992     0.99     0.98     1.00       0.01
Percentile      0.960    0.927    0.951    0.951    0.945    0.987    0.856    0.951    0.896     0.869     0.93     0.86     0.99       0.04

Average Values Summary - RINCONADA LIB:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  2213.54  1031.98  509.26  204.07  150.96  78.15
Flat Energy      0.00     0.00    0.00    0.00    0.00   0.00
Time of Use      0.37     0.38    0.39    0.40    0.38   0.36
Range            0.97     0.98    0.98    0.99    0.99   0.99
Percentile       0.90     0.89    0.89    0.91    0.92   0.93

Minimum Values Summary - RINCONADA LIB:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  1255.32   629.38  288.25   38.12   27.31  11.55
Flat Energy      0.00     0.00    0.00    0.00    0.00   0.00
Time of Use      0.17     0.12    0.13   -0.12   -0.38  -0.22
Range            0.96     0.96    0.98    0.98    0.97   0.98
Percentile       0.84     0.82    0.78    0.81    0.80   0.86

Maximum Values Summary - RINCONADA LIB:

              28 Days  14 Days   7 Days  3 Days  2 Days   1 Day
Energy (kWh)  4439.25  2110.40  1025.37  425.87  317.20  160.60
Flat Energy      0.00     0.00     0.00    0.00    0.00    0.00
Time of Use      0.57     0.59     0.56    0.59    0.70    0.77
Range            0.98     0.98     0.99    1.00    1.00    1.00
Percentile       0.98     0.97     0.96    0.97    0.97    0.99

Standard Deviation Values Summary - RINCONADA LIB:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  1160.86   553.45  253.39  123.31   92.25  51.03
Flat Energy      0.00     0.00    0.00    0.00    0.00   0.00
Time of Use      0.11     0.14    0.15    0.24    0.32   0.30
Range            0.01     0.01    0.00    0.01    0.01   0.01
Percentile       0.05     0.06    0.06    0.05    0.05   0.04

TED THOMPSON
28 Days Revenue Simulation:

               Batch 1   Batch 2   Batch 3   Batch 4   Batch 5   Batch 6   Batch 7   Batch 8   Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  5120.730  2714.540  2959.920  3152.120  2267.460  3469.640  2256.470  1872.830  1320.460  1184.280  2631.84  1184.28  5120.73    1152.13
Flat Energy      0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.00     0.00     0.00       0.00
Time of Use      0.641     0.468     0.457     0.536     0.539     0.508     0.471     0.509     0.375     0.406     0.49     0.38     0.64       0.07
Range            0.976     0.951     0.972     0.979     0.984     0.972     0.987     0.985     0.953     0.954     0.97     0.95     0.99       0.01
Percentile       0.893     0.768     0.831     0.852     0.977     0.822     0.984     0.955     0.822     0.870     0.88     0.77     0.98       0.07

14 Days Revenue Simulation:

               Batch 1   Batch 2   Batch 3   Batch 4   Batch 5   Batch 6   Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  2707.720  1082.710  1117.070  1596.760  1125.160  1649.800  1133.610  943.950  644.370  1114.060  1311.52   644.37  2707.72     569.69
Flat Energy      0.000     0.000     0.000     0.000     0.000     0.000     0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use      0.688     0.390     0.457     0.527     0.512     0.499     0.468    0.474    0.340     0.438     0.48     0.34     0.69       0.09
Range            0.982     0.938     0.966     0.982     0.988     0.972     0.987    0.985    0.954     0.971     0.97     0.94     0.99       0.02
Percentile       0.913     0.745     0.869     0.859     0.981     0.807     0.986    0.956    0.814     0.889     0.88     0.74     0.99       0.08

7 Days Revenue Simulation:

               Batch 1  Batch 2  Batch 3  Batch 4  Batch 5   Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  1384.580  387.620  577.470  774.890  568.250  1100.270  535.160  470.340  303.370   544.200   664.62   303.37  1384.58     335.56
Flat Energy      0.000    0.000    0.000    0.000    0.000     0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use      0.750    0.265    0.476    0.541    0.418     0.552    0.509    0.530    0.275     0.383     0.47     0.26     0.75       0.14
Range            0.981    0.963    0.969    0.984    0.987     0.977    0.988    0.993    0.957     0.988     0.98     0.96     0.99       0.01
Percentile       0.921    0.790    0.853    0.876    0.980     0.840    0.984    0.962    0.787     0.901     0.89     0.79     0.98       0.07

3 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  486.980  178.120  216.940  473.500  231.500  497.120  193.600  232.650   56.840   330.710   289.80    56.84   497.12     151.02
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.709    0.025    0.284    0.603    0.479    0.523    0.492    0.707    0.278     0.511     0.46     0.02     0.71       0.21
Range           0.987    0.985    0.973    0.985    0.994    0.984    0.989    0.993    0.983     0.986     0.99     0.97     0.99       0.01
Percentile      0.920    0.893    0.879    0.935    0.976    0.891    0.965    0.982    0.808     0.939     0.92     0.81     0.98       0.05

2 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  233.140  147.100  173.060  395.760  131.370  376.410  100.630  154.110   33.070   214.640   195.93    33.07   395.76     114.83
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.694    0.017    0.177    0.681    0.574    0.555    0.502    0.662    0.160     0.478     0.45     0.02     0.69       0.24
Range           0.985    0.988    0.977    0.984    0.994    0.984    0.987    0.993    0.990     0.985     0.99     0.98     0.99       0.00
Percentile      0.901    0.927    0.894    0.970    0.956    0.910    0.929    0.978    0.774     0.942     0.92     0.77     0.98       0.06

1 Day Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   81.330   34.360   47.800  177.410   42.260  209.440   47.510   85.550   13.960   103.120    84.27    13.96   209.44      63.76
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.627    0.459    0.328    0.761    0.415    0.785    0.733    0.828   -0.157     0.313     0.51    -0.16     0.83       0.30
Range           0.984    0.998    0.986    0.987    0.996    0.991    0.991    0.995    0.979     0.989     0.99     0.98     1.00       0.01
Percentile      0.829    0.816    0.893    0.938    0.858    0.917    0.926    0.992    0.776     0.923     0.89     0.78     0.99       0.07

Average Values Summary - TED THOMPSON:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  2631.84  1311.52  664.62  289.80  195.93  84.27
Flat Energy      0.00     0.00    0.00    0.00    0.00   0.00
Time of Use      0.49     0.48    0.47    0.46    0.45   0.51
Range            0.97     0.97    0.98    0.99    0.99   0.99
Percentile       0.88     0.88    0.89    0.92    0.92   0.89

Minimum Values Summary - TED THOMPSON:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  1184.28   644.37  303.37   56.84   33.07  13.96
Flat Energy      0.00     0.00    0.00    0.00    0.00   0.00
Time of Use      0.38     0.34    0.26    0.02    0.02  -0.16
Range            0.95     0.94    0.96    0.97    0.98   0.98
Percentile       0.77     0.74    0.79    0.81    0.77   0.78

Maximum Values Summary - TED THOMPSON:

              28 Days  14 Days   7 Days  3 Days  2 Days   1 Day
Energy (kWh)  5120.73  2707.72  1384.58  497.12  395.76  209.44
Flat Energy      0.00     0.00     0.00    0.00    0.00    0.00
Time of Use      0.64     0.69     0.75    0.71    0.69    0.83
Range            0.99     0.99     0.99    0.99    0.99    1.00
Percentile       0.98     0.99     0.98    0.98    0.98    0.99

Standard Deviation Values Summary - TED THOMPSON:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  1152.13   569.69  335.56  151.02  114.83  63.76
Flat Energy      0.00     0.00    0.00    0.00    0.00   0.00
Time of Use      0.07     0.09    0.14    0.21    0.24   0.30
Range            0.01     0.02    0.01    0.01    0.00   0.01
Percentile       0.07     0.08    0.07    0.05    0.06   0.07

HAMILTON
28 Days Revenue Simulation:

               Batch 1   Batch 2   Batch 3   Batch 4   Batch 5   Batch 6   Batch 7   Batch 8   Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  2052.970  3489.700  1494.240  2485.690  2200.170  3146.560  3005.300  3146.950  3511.570  2692.170  2722.53  1494.24  3511.57     661.47
Flat Energy      0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.00     0.00     0.00       0.00
Time of Use      0.527     0.644     0.507     0.486     0.554     0.526     0.595     0.656     0.694     0.477     0.57     0.48     0.69       0.08
Range            0.979     0.984     0.977     0.978     0.979     0.981     0.983     0.985     0.986     0.982     0.98     0.98     0.99       0.00
Percentile       0.958     0.966     0.949     0.977     0.964     0.953     0.960     0.968     0.978     0.979     0.97     0.95     0.98       0.01

14 Days Revenue Simulation:

               Batch 1   Batch 2  Batch 3   Batch 4   Batch 5   Batch 6   Batch 7   Batch 8   Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  1066.510  1880.770  757.690  1258.220  1111.780  1264.330  1556.810  1623.870  1861.310  1429.170  1381.05   757.69  1880.77     359.21
Flat Energy      0.000     0.000    0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.00     0.00     0.00       0.00
Time of Use      0.524     0.633    0.489     0.476     0.612     0.489     0.628     0.657     0.686     0.400     0.56     0.40     0.69       0.10
Range            0.979     0.985    0.979     0.977     0.982     0.983     0.985     0.987     0.986     0.982     0.98     0.98     0.99       0.00
Percentile       0.969     0.972    0.958     0.975     0.965     0.931     0.957     0.965     0.980     0.974     0.96     0.93     0.98       0.01

7 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  576.430  878.850  384.540  541.400  545.160  562.100  781.680  881.310  901.250   717.390   677.01   384.54   901.25     179.50
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.524    0.595    0.564    0.521    0.567    0.496    0.673    0.705    0.733     0.460     0.58     0.46     0.73       0.09
Range           0.979    0.984    0.983    0.976    0.982    0.986    0.988    0.987    0.988     0.979     0.98     0.98     0.99       0.00
Percentile      0.976    0.964    0.964    0.964    0.962    0.908    0.957    0.975    0.980     0.966     0.96     0.91     0.98       0.02

3 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  223.090  363.800  129.140  188.510  207.680  311.200  360.320  394.970  372.780   310.140   286.16   129.14   394.97      92.14
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.719    0.479    0.501    0.449    0.544    0.688    0.711    0.663    0.679     0.679     0.61     0.45     0.72       0.11
Range           0.989    0.986    0.995    0.982    0.990    0.987    0.992    0.992    0.990     0.987     0.99     0.98     1.00       0.00
Percentile      0.976    0.952    0.936    0.931    0.926    0.955    0.973    0.975    0.968     0.974     0.96     0.93     0.98       0.02

2 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  153.270  215.250   63.970  149.430   94.090  168.990  255.700  266.370  217.090   200.920   178.51    63.97   266.37      65.69
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.785    0.388    0.303    0.403    0.503    0.636    0.835    0.707    0.666     0.686     0.59     0.30     0.84       0.18
Range           0.990    0.986    0.994    0.982    0.991    0.988    0.987    0.992    0.992     0.988     0.99     0.98     0.99       0.00
Percentile      0.982    0.939    0.896    0.948    0.852    0.914    0.983    0.975    0.950     0.976     0.94     0.85     0.98       0.04

1 Day Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   79.910  124.640    9.960   99.790   67.900   36.150  124.050  117.240   69.910    91.260    82.08     9.96   124.64      37.82
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.853    0.509    0.311    0.205    0.706    0.600    0.761    0.587    0.641     0.690     0.59     0.20     0.85       0.20
Range           0.990    0.988    0.998    0.980    0.994    0.995    0.992    0.991    0.989     0.996     0.99     0.98     1.00       0.01
Percentile      0.979    0.964    0.703    0.959    0.911    0.948    0.982    0.970    0.924     0.985     0.93     0.70     0.98       0.08

Average Values Summary - HAMILTON:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  2722.53  1381.05  677.01  286.16  178.51  82.08
Flat Energy      0.00     0.00    0.00    0.00    0.00   0.00
Time of Use      0.57     0.56    0.58    0.61    0.59   0.59
Range            0.98     0.98    0.98    0.99    0.99   0.99
Percentile       0.97     0.96    0.96    0.96    0.94   0.93

Minimum Values Summary - HAMILTON:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  1494.24   757.69  384.54  129.14   63.97   9.96
Flat Energy      0.00     0.00    0.00    0.00    0.00   0.00
Time of Use      0.48     0.40    0.46    0.45    0.30   0.20
Range            0.98     0.98    0.98    0.98    0.98   0.98
Percentile       0.95     0.93    0.91    0.93    0.85   0.70

Maximum Values Summary - HAMILTON:

              28 Days  14 Days  7 Days  3 Days  2 Days   1 Day
Energy (kWh)  3511.57  1880.77  901.25  394.97  266.37  124.64
Flat Energy      0.00     0.00    0.00    0.00    0.00    0.00
Time of Use      0.69     0.69    0.73    0.72    0.84    0.85
Range            0.99     0.99    0.99    1.00    0.99    1.00
Percentile       0.98     0.98    0.98    0.98    0.98    0.98

Standard Deviation Values Summary - HAMILTON:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)   661.47   359.21  179.50   92.14   65.69  37.82
Flat Energy      0.00     0.00    0.00    0.00    0.00   0.00
Time of Use      0.08     0.10    0.09    0.11    0.18   0.20
Range            0.00     0.00    0.00    0.00    0.00   0.01
Percentile       0.01     0.01    0.02    0.02    0.04   0.08

HIGH
28 Days Revenue Simulation:

               Batch 1   Batch 2  Batch 3   Batch 4   Batch 5   Batch 6   Batch 7   Batch 8   Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  1201.350  6816.750  658.090  1103.310  1194.350  4632.130  4391.080  4192.580  7712.100  1438.490  3334.02   658.09  7712.10    2575.37
Flat Energy      0.000     0.000    0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.00     0.00     0.00       0.00
Time of Use      0.538     0.654    0.523     0.490     0.326     0.615     0.673     0.625     0.773     0.334     0.56     0.33     0.77       0.14
Range            0.982     0.979    0.986     0.981     0.984     0.969     0.976     0.974     0.979     0.988     0.98     0.97     0.99       0.01
Percentile       0.942     0.930    0.936     0.930     0.920     0.852     0.899     0.899     0.972     0.950     0.92     0.85     0.97       0.03

14 Days Revenue Simulation:

              Batch 1   Batch 2  Batch 3  Batch 4  Batch 5   Batch 6   Batch 7   Batch 8   Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  567.300  3333.590  366.230  562.840  569.490  1788.330  2138.630  2134.280  3941.740   713.820  1611.62   366.23  3941.74    1274.12
Flat Energy     0.000     0.000    0.000    0.000    0.000     0.000     0.000     0.000     0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.547     0.635    0.574    0.495    0.244     0.575     0.660     0.633     0.764     0.278     0.54     0.24     0.76       0.16
Range           0.982     0.977    0.987    0.983    0.990     0.959     0.975     0.979     0.978     0.988     0.98     0.96     0.99       0.01
Percentile      0.936     0.926    0.937    0.925    0.916     0.809     0.883     0.907     0.973     0.953     0.92     0.81     0.97       0.05

7 Days Revenue Simulation:

              Batch 1   Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7   Batch 8   Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  298.090  1642.170  187.460  278.950  304.620  654.720  979.970  1139.760  2061.380   328.900   787.60   187.46  2061.38     652.66
Flat Energy     0.000     0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.538     0.605    0.546    0.477    0.248    0.578    0.656     0.663     0.804     0.368     0.55     0.25     0.80       0.16
Range           0.983     0.981    0.987    0.991    0.991    0.971    0.980     0.979     0.980     0.987     0.98     0.97     0.99       0.01
Percentile      0.934     0.905    0.941    0.926    0.926    0.822    0.883     0.920     0.978     0.945     0.92     0.82     0.98       0.04

3 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  126.870  585.580   91.250   99.630  106.790  242.760  433.720  484.910  966.380   118.420   325.63    91.25   966.38     290.29
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.529    0.423    0.527    0.460    0.462    0.612    0.634    0.733    0.799     0.460     0.56     0.42     0.80       0.13
Range           0.989    0.975    0.991    0.992    0.994    0.982    0.984    0.986    0.988     0.988     0.99     0.98     0.99       0.01
Percentile      0.916    0.867    0.952    0.885    0.903    0.867    0.890    0.932    0.979     0.923     0.91     0.87     0.98       0.04

2 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   93.450  314.490   68.720   61.740   50.380  151.450  307.130  329.140  576.500    83.730   203.67    50.38   576.50     172.83
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.496    0.325    0.585    0.375    0.388    0.585    0.711    0.750    0.839     0.374     0.54     0.32     0.84       0.18
Range           0.987    0.966    0.991    0.992    0.989    0.984    0.988    0.987    0.991     0.988     0.99     0.97     0.99       0.01
Percentile      0.925    0.797    0.957    0.886    0.909    0.876    0.887    0.929    0.977     0.924     0.91     0.80     0.98       0.05

1 Day Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   53.480   98.380   27.850   33.970   35.550   43.420  171.980  175.470  221.350    60.700    92.22    27.85   221.35      71.20
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.454    0.540    0.449    0.463    0.479    0.414    0.711    0.726    0.892     0.283     0.54     0.28     0.89       0.18
Range           0.985    0.987    0.992    0.993    0.988    0.992    0.989    0.989    0.991     0.990     0.99     0.98     0.99       0.00
Percentile      0.939    0.884    0.909    0.906    0.908    0.901    0.898    0.925    0.958     0.980     0.92     0.88     0.98       0.03

Average Values Summary - HIGH:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  3334.02  1611.62  787.60  325.63  203.67  92.22
Flat Energy      0.00     0.00    0.00    0.00    0.00   0.00
Time of Use      0.56     0.54    0.55    0.56    0.54   0.54
Range            0.98     0.98    0.98    0.99    0.99   0.99
Percentile       0.92     0.92    0.92    0.91    0.91   0.92

Minimum Values Summary - HIGH:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)   658.09   366.23  187.46   91.25   50.38  27.85
Flat Energy      0.00     0.00    0.00    0.00    0.00   0.00
Time of Use      0.33     0.24    0.25    0.42    0.32   0.28
Range            0.97     0.96    0.97    0.98    0.97   0.98
Percentile       0.85     0.81    0.82    0.87    0.80   0.88

Maximum Values Summary - HIGH:

              28 Days  14 Days   7 Days  3 Days  2 Days   1 Day
Energy (kWh)  7712.10  3941.74  2061.38  966.38  576.50  221.35
Flat Energy      0.00     0.00     0.00    0.00    0.00    0.00
Time of Use      0.77     0.76     0.80    0.80    0.84    0.89
Range            0.99     0.99     0.99    0.99    0.99    0.99
Percentile       0.97     0.97     0.98    0.98    0.98    0.98

Standard Deviation Values Summary - HIGH:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  2575.37  1274.12  652.66  290.29  172.83  71.20
Flat Energy      0.00     0.00    0.00    0.00    0.00   0.00
Time of Use      0.14     0.16    0.16    0.13    0.18   0.18
Range            0.01     0.01    0.01    0.01    0.01   0.00
Percentile       0.03     0.05    0.04    0.04    0.05   0.03

BRYANT
28 Days Revenue Simulation:

               Batch 1   Batch 2   Batch 3   Batch 4   Batch 5   Batch 6   Batch 7   Batch 8   Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  2455.990  6014.590  1372.000  2958.160  2384.660  5372.990  5321.320  5249.730  3338.520  3467.380  3793.53  1372.00  6014.59    1582.24
Flat Energy      0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.00     0.00     0.00       0.00
Time of Use      0.512     0.661     0.551     0.504     0.565     0.608     0.655     0.647     0.620     0.543     0.59     0.50     0.66       0.06
Range            0.981     0.978     0.973     0.945     0.978     0.975     0.971     0.970     0.977     0.979     0.97     0.94     0.98       0.01
Percentile       0.964     0.900     0.920     0.969     0.969     0.868     0.906     0.906     0.964     0.976     0.93     0.87     0.98       0.04

14 Days Revenue Simulation:

               Batch 1   Batch 2  Batch 3   Batch 4   Batch 5   Batch 6   Batch 7   Batch 8   Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  1145.810  3204.290  756.530  1506.090  1173.000  2073.440  2677.890  2666.930  1716.030  1819.870  1873.99   756.53  3204.29     783.02
Flat Energy      0.000     0.000    0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.000     0.00     0.00     0.00       0.00
Time of Use      0.492     0.676    0.620     0.506     0.617     0.544     0.663     0.657     0.644     0.515     0.59     0.49     0.68       0.07
Range            0.981     0.981    0.977     0.949     0.985     0.971     0.976     0.980     0.977     0.977     0.98     0.95     0.98       0.01
Percentile       0.962     0.901    0.933     0.965     0.975     0.805     0.904     0.912     0.963     0.972     0.93     0.80     0.98       0.05

7 Days Revenue Simulation:

              Batch 1   Batch 2  Batch 3  Batch 4  Batch 5  Batch 6   Batch 7   Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  531.620  1723.190  366.160  693.300  565.290  715.880  1246.810  1528.560  761.750   895.420   902.80   366.16  1723.19     449.87
Flat Energy     0.000     0.000    0.000    0.000    0.000    0.000     0.000     0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.471     0.677    0.649    0.517    0.590    0.528     0.618     0.690    0.670     0.571     0.60     0.47     0.69       0.08
Range           0.986     0.984    0.988    0.984    0.986    0.953     0.979     0.983    0.985     0.976     0.98     0.95     0.99       0.01
Percentile      0.961     0.906    0.934    0.979    0.968    0.842     0.887     0.926    0.940     0.975     0.93     0.84     0.98       0.04

3 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  208.360  621.800  162.500  241.510  219.840  295.840  599.100  724.810  269.090   309.840   365.27   162.50   724.81     202.51
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.404    0.597    0.668    0.412    0.506    0.523    0.691    0.762    0.752     0.702     0.60     0.40     0.76       0.13
Range           0.988    0.988    0.988    0.983    0.984    0.973    0.984    0.984    0.990     0.982     0.98     0.97     0.99       0.00
Percentile      0.958    0.856    0.932    0.958    0.955    0.769    0.919    0.940    0.954     0.975     0.92     0.77     0.98       0.06

2 Days Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)  171.540  266.650  112.880  146.240  138.040  196.800  423.780  527.030  189.530   224.360   239.69   112.88   527.03     133.98
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.412    0.499    0.616    0.428    0.443    0.505    0.775    0.764    0.752     0.743     0.59     0.41     0.78       0.15
Range           0.988    0.990    0.987    0.986    0.987    0.973    0.984    0.985    0.990     0.985     0.99     0.97     0.99       0.00
Percentile      0.982    0.808    0.931    0.922    0.932    0.767    0.923    0.951    0.953     0.974     0.91     0.77     0.98       0.07

1 Day Revenue Simulation:

              Batch 1  Batch 2  Batch 3  Batch 4  Batch 5  Batch 6  Batch 7  Batch 8  Batch 9  Batch 10  Average  Minimum  Maximum  Std. Dev.
Energy (kWh)   85.660  184.640   60.040  103.580   95.250   75.150  218.580  241.680   77.970   123.790   126.63    60.04   241.68      64.73
Flat Energy     0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000    0.000     0.000     0.00     0.00     0.00       0.00
Time of Use     0.727    0.610    0.493    0.365    0.397    0.553    0.736    0.805    0.667     0.557     0.59     0.36     0.80       0.15
Range           0.992    0.986    0.986    0.989    0.990    0.988    0.986    0.987    0.988     0.980     0.99     0.98     0.99       0.00
Percentile      0.969    0.900    0.905    0.929    0.973    0.861    0.905    0.944    0.944     0.970     0.93     0.86     0.97       0.04

Average Values Summary - BRYANT:

              28 Days  14 Days  7 Days  3 Days  2 Days   1 Day
Energy (kWh)  3793.53  1873.99  902.80  365.27  239.69  126.63
Flat Energy      0.00     0.00    0.00    0.00    0.00    0.00
Time of Use      0.59     0.59    0.60    0.60    0.59    0.59
Range            0.97     0.98    0.98    0.98    0.99    0.99
Percentile       0.93     0.93    0.93    0.92    0.91    0.93

Minimum Values Summary - BRYANT:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  1372.00   756.53  366.16  162.50  112.88  60.04
Flat Energy      0.00     0.00    0.00    0.00    0.00   0.00
Time of Use      0.50     0.49    0.47    0.40    0.41   0.36
Range            0.94     0.95    0.95    0.97    0.97   0.98
Percentile       0.87     0.80    0.84    0.77    0.77   0.86

Maximum Values Summary - BRYANT:

              28 Days  14 Days   7 Days  3 Days  2 Days   1 Day
Energy (kWh)  6014.59  3204.29  1723.19  724.81  527.03  241.68
Flat Energy      0.00     0.00     0.00    0.00    0.00    0.00
Time of Use      0.66     0.68     0.69    0.76    0.78    0.80
Range            0.98     0.98     0.99    0.99    0.99    0.99
Percentile       0.98     0.98     0.98    0.98    0.98    0.97

Standard Deviation Values Summary - BRYANT:

              28 Days  14 Days  7 Days  3 Days  2 Days  1 Day
Energy (kWh)  1582.24   783.02  449.87  202.51  133.98  64.73
Flat Energy      0.00     0.00    0.00    0.00    0.00   0.00
Time of Use      0.06     0.07    0.08    0.13    0.15   0.15
Range            0.01     0.01    0.01    0.00    0.00   0.00
Percentile       0.04     0.05    0.04    0.06    0.07   0.04